<!-- Persian DateTime picker -->
<script src="~/DatePicker/popper.min.js"></script>
<script src="~/DatePicker/bootstrap.min.js"></script>
<link href="~/DatePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

<div class="tab">
    <button class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab2')">مسافرین همراه</button>
    <button id="btnInformation" class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab1')">اطلاعات اولیه</button>
</div>

<div id="Tab1" class="tabcontent">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer fa fa-calendar" id="date4"></span>
                    <input readonly="readonly" type="text" id="inputDate4" class="form-control" placeholder="از تاریخ" aria-label="date4"
                           aria-describedby="date4">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer fa fa-calendar" id="date5"></span>
                    <input readonly="readonly" type="text" id="inputDate5" class="form-control" placeholder="تا تاریخ" aria-label="date5"
                           aria-describedby="date5">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input class="form-control btn" type="button" value="فیلتر" id="btnFilterRooms" onclick="FilterRoom()" style="background-color:#3f51b5; color:rgba(255,255,255,.5); border-color: #e6e6e6;" />
        </div>
    </div>
    <div id="FreeRoomGridParentDiv">
        <div id="FreeRoomsGrid" class="k-rtl"></div>
    </div>
</div>

<div id="Tab2" class="tabcontent">
    <h3>انتخاب مسافرین همراه</h3>
    <div style="margin: 2px;">
        <div id="FelowCustomerGrid" class="k-rtl"></div>
    </div>
</div>

<br />
<input type="button" value="ثبت" class="btn btn-block" style="background-color:#3f51b5; color:rgba(255,255,255,.5); border-color: #e6e6e6;" />


<!-- Hidden Inputs -->
@*<input type="hidden" value="@Model" id="CustomerId-Hidden" />*@
<!-- /Hidden Inputs -->
<!--============ Room grid ============-->
<script>

        $(function(){
            freeRoomGrid("#FreeRoomsGrid");
        });

        function freeRoomGrid(ID){
            var selectedRoomRowsId = [];

            function onChangeRoom(e) {
                var rows = e.sender.select();
                selectedRoomRowsId = [];

                rows.each(function (e) {
                    var grid = $(ID).data("kendoGrid");
                    var dataItem = grid.dataItem(this);
                    selectedRoomRowsId.push(dataItem.Id);
                })
            }

        // Free Room Grid
            $(ID).kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Admin/VerbalRent/GetAllFreeRooms",
                        data: {
                            checkIn: $("#inputDate4").val(),
                            checkOut: $("#inputDate5").val()
                        }
                    },
                    pageSize: 20
                },
                filterable: true,
                height: 400,
                width: 'auto',
                groupable: true,
                sortable: true,
                selectable: false,
                change: onChangeRoom,
                pageable: {
                    refresh: true,
                    pageSize: 20,
                    buttonCount: 5
                },
                columns: [
                    {
                        selectable: true,
                        width: '50px'
                    },
                    {
                        field: "RoomNumber",
                        title: "شماره اتاق",
                        width: 180
                    },
                    {
                        field: "SingleBedCount",
                        title: "تعداد تخت یک نفره",
                        width: 180
                    },
                    {
                        field: "DoubleBedCount",
                        title: "تعداد تخت دو نفره",
                        width: 180
                    },
                    {
                        field: "Rate",
                        title: "امتیاز",
                        width: 180
                    },
                    {
                        field: "Entertainment",
                        title: "سرگرمی",
                        width: 180
                    },
                    {
                        field: "Description",
                        title: "توضیحات",
                        width: 180
                    }
                ]
            });
        }
        // Felow Customers --------------------------------------
            var selectedFelowRowsId = [];

            function onChangeFelow(e) {
                var rows = e.sender.select();
                selectedFelowRowsId = [];

                rows.each(function (e) {
                    var grid = $("#FelowCustomerGrid").data("kendoGrid");
                    var dataItem = grid.dataItem(this);
                    selectedFelowRowsId.push(dataItem.Id);
                })

            }


            $("#FelowCustomerGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Customer/FelowCustomer_Read/" + $("#CustomerId-Hidden").val()
                },
                pageSize: 20
            },
            filterable: true,
            height: 'auto',
            width: 'auto',
            groupable: true,
            sortable: true,
            change: onChangeFelow,
            selectable: false,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    selectable: true,
                    width: '50px'
                },
                {
                    field: "FirstName",
                    title: "نام",
                    width: 180
                },
                {
                    field: "LastName",
                    title: "نام خانوادگی",
                    width: 180
                },
                {
                    field: "NationalNo",
                    title: "کد ملی",
                    width: 180
                },
                {
                    field: "PassportNo",
                    title: "شماره پاسپورت",
                    width: 180
                }
            ]
            });
        // Felow Customers --------------------------------------
</script>
<!--============ /Room grid ============-->
<!--============ Filter Room Grid ============-->
<script>

        function FilterRoom()
        {
            var FromDate = $("#inputDate4").val();
            var ToDate = $("#inputDate5").val();

            if(FromDate === "" || ToDate === "")
            {
                iziToast.warning({
                    position: "center",
                    timeout: 3000,
                    rtl: true,
                    message: "لطفا فیلدهای تاریخ ورود و خروج را مشخص کنید!"
                });
            }
            else{
                $("#FreeRoomsGrid").remove();
                $("#FreeRoomGridParentDiv").html("<div id='newFreeRoomsGrid' class='k-rtl'></div>");
                
                freeRoomGrid("#newFreeRoomsGrid");
            }
        }

</script>
<!--============ /Filter Room Grid ============-->
<!-- Persian Date picker initialization -->
<script src="~/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>
<script type="text/javascript">

    $('#date4').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate4',
        fromDate: true,
        enableTimePicker: false,
        groupId: 'rangeSelector1',
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: true,
    });
    $('#date5').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate5',
        toDate: true,
        groupId: 'rangeSelector1',
        placement: 'top',
        enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: true,
    });
</script>