
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div id="ContactGrid"></div>




<input type="hidden" id="ContactId" />
@section Scripts
{
    <script>

        $("#ContactGrid").kendoGrid({
            height: 400,
            columns: [
                { field: "Id", title: "ID" },
                { field: "TelType", title: "نوع" },
                { field: "TelNo", title: "شماره تلفن" },
                { field: "Address", title: "آدرس" },
                { command: ["destroy"], width: 100 }
            ],
            toolbar: [
                { name: "create", text: "جدید" },
                { name: "save", text: "ذخیره تغییرات" }
            ],
            dataSource: {
                type: "aspnetmvc-ajax",
                batch: true,
                transport: {
                    read: {
                        url: "Contact_Read",
                        data: {
                            id: $("#ContactId").val()
                        }
                    },
                    create: {
                        url: "Contact_Create",
                        data: {
                            personId: $("#ContactId").val()
                        }
                    },
                    update: {
                        url: "Contact_Update",
                        data: {
                            personId: $("#ContactId").val()
                        }
                    },
                    destroy: {
                        url: "Contact_Destroy",
                        data: {
                            personId: $("#ContactId").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string" },
                            TelNo: { type: "string" },
                            TelType: { type: "string" },
                            Address: { type: "string" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true
            },
            editable: "incell",
            pageable: {
                pageSize: 50,
                buttonCount: 1,
                messages: {
                    empty: "موردی وجود ندارد",
                    display: "تعداد کل {2}"
                }
            },
            navigatable: true,
            selectable: "single cell",
            sortable: {
                mode: "single"
            },
            filterable: true,
            scrollable: true
        })

    </script>
}
