
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>

    .checked {
        color: gold;
    }
</style>

<h2>Star Rating</h2>
<span class="fa fa-star firstStar"></span>
<span class="fa fa-star secondStar"></span>
<span class="fa fa-star thirdStar"></span>
<span class="fa fa-star fourthStar"></span>
<span class="fa fa-star fifthStar"></span>

<br /><br /><hr /><hr />

<input type="button" value="Set Star" id="btnStar" />

@section Scripts
{

    <script>

        $("#btnStar").click(function () {
            var rating = 4;

            switch (rating) {
                case 1:
                    $(".firstStar").addClass("checked");
                    break;
                case 2:
                    $(".firstStar").addClass("checked");
                    $(".secondStar").addClass("checked");
                    break;
                case 3:
                    $(".firstStar").addClass("checked");
                    $(".secondStar").addClass("checked");
                    $(".thirdStar").addClass("checked");
                    break;
                case 4:
                    $(".firstStar").addClass("checked");
                    $(".secondStar").addClass("checked");
                    $(".thirdStar").addClass("checked");
                    $(".fourthStar").addClass("checked");
                    break;
                case 5:
                    $(".firstStar").addClass("checked");
                    $(".secondStar").addClass("checked");
                    $(".thirdStar").addClass("checked");
                    $(".fourthStar").addClass("checked");
                    $(".fifthStar").addClass("checked");
                    break;
                default:
            }
        });

    </script>

}
