
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>

    #btnRemoveHotel {
        background-color: #ff0043;
        border-color: #daeffd;
        width: 110px;
        margin-right: 20px;
    }

    .checked {
        color: orange;
    }
</style>



<div class="row">
    <div class="col col-md-6">
        <input id="btnCreateHotel" type="button" value="ثبت هتل" class="btn btn-dark" style="width: 15em" />
    </div>
</div>


<div id="hotelGrid" class="k-rtl"></div>








<!--=============== Partials ===============-->
<div id="CreateHotelModal" hidden>
    <div id="CreateHotelPartial"></div>
</div>
<div id="updateHotelModal" hidden>
    <div id="updateHotelPartial"></div>
</div>
<!--=============== /Partials ===============-->



@section Scripts
{
    <!-- Hotel Grid -->
    <script>
        $(function () {
            $("#hotelGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Admin/Hotel/Hotel_Read"
                    },
                    pageSize: 20
                },
                filterable: true,
                height: 550,
                width: 'auto',
                groupable: true,
                sortable: true,
                selectable: true,
                pageable: {
                    refresh: true,
                    pageSize: 20,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "Name",
                        title: "نام",
                        width: 120
                    },
                    {
                        field: "RoomsCount",
                        title: "تعداد اتاق",
                        width: 120
                    },
                    {
                        field: "Rate",
                        title: "امتیااز",
                        template:
                            '<span class="fa fa-star checked firstStar"></span>' +
                            '<span class="fa fa-star checked secondStar"></span>' +
                            '<span class="fa fa-star checked thirdStar"></span>' +
                            '<span class="fa fa-star checked fourthStar"></span>' +
                            '<span class="fa fa-star checked fifthStar"></span>' +
                            '' +
                            '#switch(Rate)' +
                            '{' +
                            'case 1:' +
                            '$(".firstStar").addClass("checked");' +
                            'break;' +
                            'case 2:' +
                            '$(".firstStar").addClass("checked");' +
                            '$(".secondStar").addClass("checked");' +
                            'break;' +
                            'case 3:' +
                            '$(".firstStar").addClass("checked");' +
                            '$(".secondStar").addClass("checked");' +
                            '$(".thirdStar").addClass("checked");' +
                            'break;' +
                            'case 4:' +
                            '$(".firstStar").addClass("checked");' +
                            '$(".secondStar").addClass("checked");' +
                            '$(".thirdStar").addClass("checked");' +
                            '$(".fourthStar").addClass("checked");' +
                            'break;' +
                            'case 5:' +
                            '$(".firstStar").addClass("checked");' +
                            '$(".secondStar").addClass("checked");' +
                            '$(".thirdStar").addClass("checked");' +
                            '$(".fourthStar").addClass("checked");' +
                            '$(".fifthStar").addClass("checked");' +
                            'break;' +
                            '}#',
                        width: 120
                    },
                    {
                        field: "Description",
                        title: "توضیحات",
                        width: 120
                    },
                    {
                        field: "Id",
                        title: " ",
                        filterable: false,
                        sortable: false,
                        groupable: false,
                        template: '<button id="btnRemoveHotel" class="btn btn-primary" onClick="remove_Hotel(' +
                            "'#=Id#'" +
                            ')">حذف</button>',
                        width: 120
                    }
                ]
            });
        });

    </script>

    <!-- Remove Hotel -->
    <script>

        function remove_Hotel(id) {

            iziToast.question({
                timeout: 20000,
                color: 'red',
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'حذف',
                message: 'آیا مطمن هستید؟',
                rtl: true,
                position: 'center',
                buttons: [
                    ['<button><b>بلی</b></button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        $.ajax({
                            type: "POST",
                            url: "/Admin/Hotel/Hotel_Destroy/" + id,
                            success: function (result) {
                                if (result === true) {
                                    iziToast.success({
                                        position: "bottomRight",
                                        pauseOnHover: false,
                                        timeout: 2000,
                                        displayMode: 1,
                                        rtl: true,
                                        title: "بسیار عالی",
                                        message: "هتل مورد نظر حذف شد."
                                    });
                                    $("#hotelGrid").data("kendoGrid").dataSource.read();
                                } else {
                                    iziToast.warning({
                                        position: "bottomRight",
                                        timeout: 2000,
                                        rtl: true,
                                        title: "متاسفانه",
                                        message: "مشکلی رخ داده است!"
                                    });
                                }
                            }
                        });

                    }, true],
                    ['<button>خیر</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ]
            });
        }

</script>

    <!-- Partial views izimodal instantiating -->
    <script>
        $("#btnCreateHotel").click(function() {

            $("#CreateHotelModal").iziModal({
                title: "ثبت مسافر",
                subtitle: "ثبت نام مسافر جدید",
                headerColor: '#343a40',
                rtl: true,
                fullscreen: true,
                width: 800
            });

            $.ajax({
                dataType: "HTML",
                url: "/Admin/Hotel/_CreateHotel",
                success: function(result) {
                    $("#CreateHotelPartial").html(result);

                    $("#CreateHotelModal").iziModal("open");
                    $("#CreateHotelModal").removeAttr("hidden");
                }
            });
        });

        $("#hotelGrid").on("dblclick",
            "tr.k-state-selected",
            function (e) {

                $("#updateHotelModal").iziModal({
                    title: "مشخصات",
                    subtitle: "مشخصات هتل",
                    headerColor: '#343a40',
                    rtl: true,
                    fullscreen: true,
                    width: 600
                });


                var grid = $("#hotelGrid").data("kendoGrid");
                var row = grid.dataItem(grid.select());
                var rowId = row.Id;

                e.preventDefault();

                // Open the Detail modal using ajax and partial view
                $.ajax({
                    dataType: "HTML",
                    type: "POST",
                    url: "/Admin/Hotel/_UpdateHotel/" + rowId,
                    success: function (result) {
                        $("#updateHotelPartial").html(result);
                    }
                });


                $("#updateHotelModal").iziModal('open');
                $("#updateHotelModal").removeAttr("hidden", "hidden");

            });
    </script>
}
