<!-- Persian DateTime picker -->
<script src="~/DatePicker/popper.min.js"></script>
<script src="~/DatePicker/bootstrap.min.js"></script>
<link href="~/DatePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
<link href="~/Content/Tab.css" rel="stylesheet" />
<script src="~/Scripts/Tab.js"></script>



<style>

    div {
        font-family: 'Iran Sans' !important;
    }

    #Tab1 {
        padding: 0 !important;
    }

    label {
        padding-right: 30px;
    }
</style>

<!-- Monthly Calender Style-->
<style>

    @@font-face {
        font-family: 'Iran-Sans-fa';
        src: url('/fonts/IranSans/IRANSansWeb(FaNum).eot');
        src: url('/fonts/IranSans/IRANSansWeb(FaNum).woff') format('woff'), url('/fonts/IranSans/IRANSansWeb(FaNum).ttf') format('truetype');
    }

    /* General CSS */

    html,
    body,
    input {
        height: 100%;
        /*font-family: "Iran-Sans" !important;*/
        font-family: "Iran-Sans-fa" !important;
    }

    #monthName {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0;
    }

    .calender-header {
        background-color: #494f5c;
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
        font-size: 20px;
        color: white;
    }

    tbody {
        text-align: center;
    }

    .PriceInput {
        text-align: center;
        width: 100px;
        padding-top: 5px;
        font-size: 10px;
    }

    .changeMonth {
        width: 170px;
    }

    #yearNumber {
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .txtDate {
        font-size: 20px;
        color: #6c757d;
    }

    .table th, .table td {
        padding: 5px !important;
    }
</style>
<!-- /Monthly Calender Style-->



<div class="tab">
    <button class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab2')">تقویم ماهانه</button>
    <button id="btnInformation" class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab1')">ثبت قیمت</button>
</div>


<div id="Tab1" class="tabcontent">
    <div class="d-flex justify-content-center">
        <div style="padding: 8px 16px; width: 450px" class="p-6">
            <div class="form-group">
                <label>از تاریخ: </label>
                <div class="form-inline" style="padding-right: 40px;">
                    <i class="input-group-text cursor-pointer fa fa-calendar" style="height: 30px; vertical-align: middle;" id="date4"></i>
                    <input readonly="readonly" type="text" id="inputDate4" style="width: 300px; height: 30px;" class="form-control" aria-label="date4"
                           aria-describedby="date4">
                </div>
            </div>
            <div class="form-group">
                <label>تا تاریخ: </label>
                <div class="form-inline" style="padding-right: 40px;">
                    <i class="input-group-text cursor-pointer fa fa-calendar" style="height: 30px;" id="date5"></i>
                    <input readonly="readonly" type="text" id="inputDate5" style="width: 300px; height: 30px;" class="form-control" aria-label="date5"
                           aria-describedby="date5">
                </div>
            </div>
            <div class="form-group">
                <label>قیمت: </label>
                <div class="form-inline" style="padding-right: 40px;">
                    <i class="input-group-text fa fa-dollar" style="height: 30px;"></i>
                    <input type="number" id="txtRoomPrice" style="height: 30px; width: 300px; font-family:'Iran-Sans-fa'" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <input id="btnConfirmPrice" type="button" value="ثبت" class="btn btn-block" style="background-color: #3f51b5; color: rgb(255, 255, 255); border-color: #e6e6e6;" />
</div>

<div id="Tab2" class="tabcontent">

    <div class="d-flex justify-content-center" style="height:50%;">
        <div class="p-3" style="padding: 0px !important;">
            <span id="monthName" class="text-primary"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="p-3">
            <input type="button" class="btn btn-primary changeMonth" value="<-&nbsp;&nbsp;&nbsp;ماه قبل" id="btnPreviousMonth" />
        </div>
        <div class="p-3" style="width: 170px; text-align:center; vertical-align:middle;">
            <span id="yearNumber" class="text-secondary"></span>
        </div>
        <div class="p-3">
            <input type="button" class="btn btn-primary changeMonth" value="ماه بعد &nbsp;&nbsp;->" id="btnNextMonth" />
        </div>
    </div>


    <div style="width: 800px; max-width: 800px;overflow-x: scroll;">
        <table id="tblCalender" class="table table-bordered" style="width: 750px; padding: 10px;">
            <thead class="calender-header">
                <tr>
                    <td>
                        شنبه
                    </td>
                    <td>
                        یک شنبه
                    </td>
                    <td>
                        دو شنبه
                    </td>
                    <td>
                        سه شنبه
                    </td>
                    <td>
                        چهار شنبه
                    </td>
                    <td>
                        پنج شنبه
                    </td>
                    <td>
                        جمعه
                    </td>
                </tr>
            </thead>
            <tbody id="tblCalender-body"></tbody>
        </table>
    </div>

</div>


<input type="hidden" id="hiddenPriceInputId"/>
<input type="hidden" id="hiddenDate"/>

@*<input type="text" name="name" data-date=date[d] onchange="functionname" value="" />*@ <!-- $(this).data("date") -->


<!-- Monthly Calender Tab -->
<script>

        var monthIndex = 0;

        // ========================== Create Table ==============================
        function CreateTable(date, price){
            var d = 0;

            var tbody = '';

            for (var i = 0; i < 6; i++) { // rows
                tbody += '<tr>';
                for (var j = 0; j < 7; j++) { // cols
                    if (date[d] === undefined) {
                        tbody += '<td></td>';
                    } else {
                        if(date[d] != '')
                        {
                        var dateId = date[d].substring(0,4) + date[d].substring(5,7) + date[d].substring(8,10);
                        tbody +=
                        ('<td>'
                        + '<span class="txtDate">' + date[d].substring(8,10) + '</span>'
                        + '<br/>'
                        + '<input type="text" style="font-size:14px;" class="PriceInput" '
                        //+ 'onchange="UpdatePriceInTime(' + "'" + date[d] + "'" + ')" '
                        + 'onchange="UpdatePriceInTime()" '
                        + 'onclick="SetValueInHidden(' + "'" + dateId + "','" + date[d] + "'" + ')" '
                        + 'id="' + dateId + '" '
                        + 'value="'+ price[d] +'"/>'
                        + '</td>');
                        }
                        else
                        tbody += '<td></td>';
                    }
                    d++;
                }
                tbody += '</tr>';
            }

            $("#tblCalender-body").append(tbody);
        };
        // ========================== /Create Table ==============================


        // ======================= Current Month =================================
        $(function() {

            monthIndexUI = 0;

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/MonthlyCalender",
                data: {
                    monthIndex: monthIndexUI,
                    roomId: $("#roomHiddenIdForPrice").val()
                },
                success: function(array) {
                    var thisDate = array.MonthPersianDates;
                    var thisPrice = array.MonthPrice;

                    //=======================
                    CreateTable(thisDate, thisPrice);
                    //=======================

                    $("#monthName").text(array.MonthName);
                    $("#yearNumber").text(array.Year);
                }
            });

            $(".clear").html('');
        });
        // ======================= /Current Month =================================


        // ====================== Next Month ==============================
        $("#btnNextMonth").click(function() {
            monthIndexUI++;

            $("#tblCalender-body").html('');

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/MonthlyCalender",
                data: {
                    monthIndex: monthIndexUI,
                    roomId: $("#roomHiddenIdForPrice").val()
                },
                success: function(array) {

                    var thisDate = array.MonthPersianDates;
                    var thisPrice = array.MonthPrice;

                    //=======================
                    CreateTable(thisDate, thisPrice);
                    //=======================

                    $("#monthName").text(array.MonthName);
                    $("#yearNumber").text(array.Year);
                }
            });

        });
        // ====================== /Next Month ==============================

        // ====================== Previous Month ==============================
        $("#btnPreviousMonth").click(function() {
            monthIndexUI--;

            $("#tblCalender-body").html('');

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/MonthlyCalender",
                data: {
                    monthIndex: monthIndexUI,
                    roomId: $("#roomHiddenIdForPrice").val()
                },
                success: function(array) {

                    var thisDate = array.MonthPersianDates;
                    var thisPrice = array.MonthPrice;

                    //=======================
                    CreateTable(thisDate, thisPrice);
                    //=======================

                    $("#monthName").text(array.MonthName);
                    $("#yearNumber").text(array.Year);
                }
            });
        });
        // ====================== /Previous Month ==============================

</script>
<!-- /Monthly Calender Tab -->

<!-- Update Price from Calender -->
<script>

    function UpdatePriceInTime(e)
    {
        var thisId = $("#hiddenPriceInputId").val();

        var price = $("#" + thisId ).val();
        var date = $("#hiddenDate").val();
        var roomId = $("#roomHiddenIdForPrice").val();
        
    debugger;
        $.ajax({
            type: "JSON",
            url: "/Admin/Room/UpdatePriceInDate",
            data:{
                price: price,
                date: date,
                roomId: roomId
            },
            success: function(){
                $("#" + thisId).css("background-color", "#80ffb8");
            }    
        });
    }

    function SetValueInHidden(dateId , date)
    {
        $("#hiddenPriceInputId").val(dateId);
        $("#hiddenDate").val(date);
    }
    
</script>
<!-- /Update Price from Calender -->

<script>
    $("#btnConfirmPrice").click(function() {

        $.ajax({
            url: "/Admin/Room/SetRoomPrice",
            type: "POST",
            data: {
                model: {
                    FromDate: $("#inputDate4").val(),
                    ToDate: $("#inputDate5").val(),
                    RoomId: $("#roomHiddenIdForPrice").val(),
                    Price: $("#txtRoomPrice").val(),
                }
            },
            success: function (result) {
                if (result === true) {
                    iziToast.success({
                        position: "bottomRight",
                        pauseOnHover: false,
                        timeout: 3000,
                        displayMode: 1,
                        rtl: true,
                        title: "بسیار عالی",
                        message: "قیمت اتاق در بازه زمانی مد نظر ثبت شد"
                    });
                    // close the modal
                    $("#roomPriceModal").iziModal("close");
                } else {
                    iziToast.warning({
                        position: "bottomRight",
                        pauseOnHover: false,
                        timeout: 3000,
                        displayMode: 1,
                        rtl: true,
                        message: "این اتاق در تاریخ مد نظر دارای قیمت می باشد!"
                    });
                }
            }
        });
    })
</script>

<script type="text/javascript">

    $('#date4').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate4',
        fromDate: true,
        enableTimePicker: false,
        groupId: 'rangeSelector1',
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: false,
    });
    $('#date5').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate5',
        toDate: true,
        groupId: 'rangeSelector1',
        placement: 'top',
        enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: false,
    });
</script>