
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    #btn-RemoveRoom {
        background-color: #ff0043;
        border-color: #F7275B;
        width: 110px;
        color: #444
    }

    #PriceDiv {
        background-color: #fac037;
        border-color: #fabc2a;
        width: 110px;
        color: #444;
    }
</style>



<!--============ Button crete room ============-->
<div class="row">
    <div class="col col-md-6">
        <input id="btnCreateRoom" type="button" value="ثبت اتاق" class="btn fa-remo" style="width: 300px; color: white; background-color: #3f51b5" />
    </div>
</div>

<!--============ Room Grid ============-->
<div id="roomGrid" class="k-rtl"></div>


<!-- Modals -->
<div id="createRoomModal" hidden>
    <div id="createRoomPartial"></div>
</div>
<div id="roomPriceModal" hidden></div>
<!-- /Modals -->


<input type="hidden" id="roomHiddenIdForPrice" />


@section Scripts
{
    <!--============ Customer Grid ============-->
    <script>

        // this is same as (document).ready(function(){})
        $(function () {
            $("#roomGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Admin/Room/room_Read"
                    },
                    pageSize: 20
                },
                filterable: true,
                height: 550,
                width: 'auto',
                groupable: true,
                sortable: true,
                selectable: false,
                pageable: {
                    refresh: true,
                    pageSize: 20,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "RoomNumber",
                        title: "شماره اتاق",
                        width: "100px"
                    },
                    {
                        field: "SingleBedCount",
                        title: " تخت  یک نفره",
                        width: "130px"
                    },
                    {
                        field: "DoubleBedCount",
                        title: " تخت  دو نفره",
                        width: "130px"
                    },
                    {
                        field: "Rate",
                        title: "امتیاز",
                        width: "130px"
                    },
                    {
                        field: "Entertainment",
                        title: "سرگرمی",
                        width: "200px"
                    },
                    {
                        field: "Description",
                        title: "توضیحات",
                        width: "200px"
                    },
                    {
                        field: "Id",
                        title: " ",
                        filterable: false,
                        sortable: false,
                        groupable: false,
                        template: '<div id="btn-RemoveRoom" class="btn" onClick="remove_Room(' + "'#=Id#'" + ')"><span>حذف</span><span>&nbsp;</span><i class="fa fa-remove"></i></div>',
                        width: 180
                    },
                    {
                        field: "Id",
                        title: " ",
                        filterable: false,
                        sortable: false,
                        groupable: false,
                        template: '<div class="btn" id="PriceDiv" onClick="SetPrice(' + "'#=Id#'" + ')"><span>ثبت قیمت</span><span>&nbsp;</span><i class="fa fa-dollar"></i></div>',
                        width: 180
                    }
                ]
            });
        });

    </script>
    <!--============ /Customer Grid ============-->
    <!--============ Open create room partial using ajax ============-->
    <script>
        $("#btnCreateRoom").click(function () {

            $("#createRoomModal").iziModal({
                title: "ثبت مسافر",
                subtitle: "ثبت نام مسافر جدید",
                headerColor: '#343a40',
                rtl: true,
                fullscreen: true,
                width: 800
            });

            $.ajax({
                dataType: "HTML",
                url: "/Admin/Room/_CreateRoom",
                success: function (result) {
                    $("#createRoomPartial").html(result);

                    $("#createRoomModal").iziModal("open");
                    $("#createRoomModal").removeAttr("hidden");
                }
            });

        })
    </script>
    <!--============ /Open create customer partial using ajax ============-->
    <!--============ Remove Room ============-->
    <script>

        function remove_Room(Id) {

            iziToast.question({
                timeout: 20000,
                color: 'red',
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'حذف',
                message: 'آیا مطمن هستید؟',
                rtl: true,
                position: 'center',
                buttons: [
                    ['<button><b>بلی</b></button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        $.ajax({
                            type: "POST",
                            url: "/Admin/Room/Room_Destroy/" + Id,
                            success: function (result) {
                                if (result === true) {
                                    iziToast.success({
                                        position: "bottomRight",
                                        pauseOnHover: false,
                                        timeout: 2000,
                                        displayMode: 1,
                                        rtl: true,
                                        title: "بسیار عالی",
                                        message: "اتاق مورد نظر حذف شد."
                                    });
                                    $("#roomGrid").data("kendoGrid").dataSource.read();
                                } else {
                                    iziToast.warning({
                                        position: "bottomRight",
                                        timeout: 2000,
                                        rtl: true,
                                        title: "متاسفانه",
                                        message: "مشکلی رخ داده است!"
                                    });
                                }
                            }
                        });

                    }, true],
                    ['<button>خیر</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ]
            });
        }

    </script>
    <!--============ /Remove Room ============-->
    <!--============ Set Price for Room ============-->
    <script>
        function SetPrice(roomId) {

            $("#roomHiddenIdForPrice").val(roomId);

            $("#roomPriceModal").iziModal({
                title: "ثبت قیمت",
                subtitle: "ثبت قیمت اتاق برای تاریخ مشخص",
                headerColor: '#494f5c',
                rtl: true,
                fullscreen: false,
                width: 700,
                zindex: 2000
            });

            $.ajax({
                dataType: "HTML",
                //url: "/Admin/Room/_CheckingDetail?checkingId=" + $("#CheckingHiddenId").val() + "&roomId=" + $("#RoomHiddenId").val(),
                url: "/Admin/Room/_RoomPrice",
                success: function(result) {
                    $("#roomPriceModal").iziModal('setContent', result);

                    $("#roomPriceModal").iziModal('open');
                    $("#roomPriceModal").removeAttr("hidden", "hidden");
                }
            });

        }
    </script>
    <!--============ /Set Price for Room ============-->
}
