
@{
    ViewBag.Title = "RoomStatusPerWeek";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>

    @@font-face {
        font-family: 'Iran-Sans-fa';
        src: url('/fonts/IranSans/IRANSansWeb(FaNum).eot');
        src: url('/fonts/IranSans/IRANSansWeb(FaNum).woff') format('woff'), url('/fonts/IranSans/IRANSansWeb(FaNum).ttf') format('truetype');
    }

    /* General CSS */

    html,
    body {
        height: 100%;
        /*font-family: "Iran-Sans" !important;*/
        font-family: "Iran-Sans-fa" !important;
    }

    #monthName {
        text-align: center;
        color: #d33e30;
        font-size: 30px;
        margin-bottom: 0;
    }

    #parent-flex-calender-week {
        margin-bottom: 10px !important;
    }

    .calender-header {
        background-color: #494f5c;
        text-align: center;
        font-weight: bolder;
        padding-top: 20px;
    }

    .calender-header-day {
        color: #e9ecef;
        font-size: 20px;
    }

    .calender-header-date {
        color: #d33e30;
        font-size: 50px;
    }

    .p-6 {
        width: 150%;
        height: 150%;
    }

    .Room-Data {
        text-align: center;
        font-size: 16px;

    }

    .Room-Btn {
        width: 120px;
        margin: 2px;
    }

</style>



<div class="d-flex justify-content-center mb-3" id="parent-flex-calender-week">

    <div class="p-2">
        <input id="btnPreviosWeek" type="button" value="<- &nbsp;  قبلی" class="btn btn-primary" style="background-color: #d33e30; border-color: #ffffff; width: 10em; height: 40px; padding-right: 0; margin-top: 54px;" />
    </div>

    <div class="p-2" id="child-flex-calender-week">
        <p id="monthName">شهریور</p>
        <input type="text" value="1399" class="form-control" readonly="readonly" style="height: 40px;" />
    </div>

    <div class="p-2">
        <input id="btnNextWeek" type="button" value="بعدی &nbsp; ->" class="btn btn-primary" style="background-color: #d33e30; border-color: #ffffff; width: 10em; height: 40px; padding-left: 0; margin-top: 54px;" />
    </div>
</div>

<div class="d-flex justify-content-center" id="parent-flex-calender-table">

    <div class="p-6">
        <div class="calender-header">
            <span id="saturday" class="calender-header-day">شنبه</span>
            <br />
            <span id="saturday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Saturday-Room-Data">
            <!--================ Room Data =================-->

        </div>

    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="sunday" class="calender-header-day">یک شنبه</span>
            <br />
            <span id="sunday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Sunday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="monday" class="calender-header-day">دو شنبه</span>
            <br />
            <span id="monday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Monday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="tuesday" class="calender-header-day">سه شنبه</span>
            <br />
            <span id="tuesday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Teusday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="wendsday" class="calender-header-day">چهار شنبه</span>
            <br />
            <span id="wendsday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Wednsday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="thursday" class="calender-header-day">پنج شنبه</span>
            <br />
            <span id="thursday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Thursday-Room-Data">
            <!--============== Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="friday" class="calender-header-day">جمعه</span>
            <br />
            <span id="friday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Friday-Room-Data">
            <!--============== Room Data =================-->

        </div>
    </div>
    
    

    @*<input type="button" class="btn btn-success" onclick="" value="payed" />
    <input type="button" class="btn btn-info" value="absolute" />
    <input type="button" class="btn btn-warning" value="temporary" />
    <input type="button" class="btn btn-danger" value="canceled " />*@

</div>






@section Scripts
{

    <script>

        var weekIndex = 0;
        var currentDay = 0;

        var firstDayOfWeek;
        var lastDayOfWeek;
        var month;
        var year;

        $(function() {

            // Clear the rooms values 
            $("#Saturday-Room-Data").html("");
            $("#Sunday-Room-Data").html("");
            $("#Monday-Room-Data").html("");
            $("#Teusday-Room-Data").html("");
            $("#Wednsday-Room-Data").html("");
            $("#Thursday-Room-Data").html("");
            $("#Friday-Room-Data").html("");

            debugger;
            $.ajax({
                type: "JSON",
                url: "/Admin/Room/GetCurrentDay",
                success: function(result) {
                    debugger;
                    currentDay = result.currentDay;

                    // ================== High light the current day =====================
                    if (result.currentDay === 0) {
                        $("#saturday").css("color", "#fb897e");
                        $("#saturday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 1) {
                        $("#sunday").css("color", "#fb897e");
                        $("#sunday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 2) {
                        $("#monday").css("color", "#fb897e");
                        $("#monday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 3) {
                        $("#tuesday").css("color", "#fb897e");
                        $("#tuesday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 4) {
                        $("#wendsday").css("color", "#fb897e");
                        $("#wendsday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 5) {
                        $("#thursday").css("color", "#fb897e");
                        $("#thursday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 6) {
                        $("#friday").css("color", "#fb897e");
                        $("#friday-date").css("color", "#fb897e");
                    }
                    // ================== Set Year =====================
                    $("#child-flex-calender-week > input").val(result.year);

                    // ================== Set Month =====================
                    $("#monthName").text(result.monthName);

                    // ================== Set week header date =====================
                    $("#saturday-date").text(result.weekHeaderDate[0]);
                    $("#sunday-date").text(result.weekHeaderDate[1]);
                    $("#monday-date").text(result.weekHeaderDate[2]);
                    $("#tuesday-date").text(result.weekHeaderDate[3]);
                    $("#wendsday-date").text(result.weekHeaderDate[4]);
                    $("#thursday-date").text(result.weekHeaderDate[5]);
                    $("#friday-date").text(result.weekHeaderDate[6]);

                    // =================== Rooms details ======================
                    var saturdayRoom = result.roomData.Saturday;
                    var sundayRoom = result.roomData.Sunday;
                    var mondayRoom = result.roomData.Monday;
                    var teusdayRoom = result.roomData.Tuesday;
                    var wednsdayRoom = result.roomData.Wednesday;
                    var tursdayRoom = result.roomData.Thursday;
                    var fridayRoom = result.roomData.Friday;

                    for (var i = 0; i < saturdayRoom.length; i++) {
                        if (saturdayRoom[i].RoomStatus === 0) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-success Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 1) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 2) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 3) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");
                            
                        }
                    }

                    for (var i = 0; i < sundayRoom.length; i++) {
                        //$("#Sunday-Room-Data").append("<div>" + sundayRoom[i].RoomNumber + "</div>");
                        
                        if (sundayRoom[i].RoomStatus === 0) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 1) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 2) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 3) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < mondayRoom.length; i++) {
                        //$("#Monday-Room-Data").append("<div>" + mondayRoom[i].RoomNumber + "</div>");

                        if (mondayRoom[i].RoomStatus === 0) {
                            $("#Monday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 1) {
                            $("#Monday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 2) {
                            $("#Monday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 3) {
                            $("#Monday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < teusdayRoom.length; i++) {
                        //$("#Teusday-Room-Data").append("<div>" + teusdayRoom[i].RoomNumber + "</div>");
                        if (teusdayRoom[i].RoomStatus === 0) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 1) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 2) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 3) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < wednsdayRoom.length; i++) {
                        //$("#Wednsday-Room-Data").append("<div>" + wednsdayRoom[i].RoomNumber + "</div>");

                        if (wednsdayRoom[i].RoomStatus === 0) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 1) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 2) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 3) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < tursdayRoom.length; i++) {
                        //$("#Thursday-Room-Data").append("<div>" + tursdayRoom[i].RoomNumber + "</div>");

                        if (tursdayRoom[i].RoomStatus === 0) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 1) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 2) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 3) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < fridayRoom.length; i++) {
                        //$("#Friday-Room-Data").append("<div>" + fridayRoom[i].RoomNumber + "</div>");

                        
                        if (fridayRoom[i].RoomStatus === 0) {
                            $("#Friday-Room-Data").append("<div onClick=ShowDetail("+"'"+ fridayRoom[i].Id +"'"+") class='btn btn-success Room-Btn' >" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 1) {
                            $("#Friday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 2) {
                            $("#Friday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 3) {
                            $("#Friday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                }
            });

        });

        // Get next week details
        $("#btnNextWeek").click(function() {

            // Clear the rooms values 
            $("#Saturday-Room-Data").html("");
            $("#Sunday-Room-Data").html("");
            $("#Monday-Room-Data").html("");
            $("#Teusday-Room-Data").html("");
            $("#Wednsday-Room-Data").html("");
            $("#Thursday-Room-Data").html("");
            $("#Friday-Room-Data").html("");

            weekIndex = weekIndex + 1;

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/GetWeekHeader",
                data: {
                    index: weekIndex
                },
                success: function(result3) {

                    if(weekIndex === 0){
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#fb897e");
                            $("#saturday-date").css("color", "#fb897e");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#fb897e");
                            $("#sunday-date").css("color", "#fb897e");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#fb897e");
                            $("#monday-date").css("color", "#fb897e");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#fb897e");
                            $("#tuesday-date").css("color", "#fb897e");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#fb897e");
                            $("#wendsday-date").css("color", "#fb897e");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#fb897e");
                            $("#thursday-date").css("color", "#fb897e");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#fb897e");
                            $("#friday-date").css("color", "#fb897e");
                        }
                    } else {
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#e9ecef");
                            $("#saturday-date").css("color", "#d33e30");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#e9ecef");
                            $("#sunday-date").css("color", "#d33e30");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#e9ecef");
                            $("#monday-date").css("color", "#d33e30");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#e9ecef");
                            $("#tuesday-date").css("color", "#d33e30");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#e9ecef");
                            $("#wendsday-date").css("color", "#d33e30");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#e9ecef");
                            $("#thursday-date").css("color", "#d33e30");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#e9ecef");
                            $("#friday-date").css("color", "#d33e30");
                        }
                    }

                // ================== Set week header date =====================
                $("#saturday-date").text(result3.weekHeaderDate[0]);
                $("#sunday-date").text(result3.weekHeaderDate[1]);
                $("#monday-date").text(result3.weekHeaderDate[2]);
                $("#tuesday-date").text(result3.weekHeaderDate[3]);
                $("#wendsday-date").text(result3.weekHeaderDate[4]);
                $("#thursday-date").text(result3.weekHeaderDate[5]);
                $("#friday-date").text(result3.weekHeaderDate[6]);

                // ================== Set month name =====================
                $("#monthName").text(result3.monthName);

                // ================== Set Year =====================
                $("#child-flex-calender-week > input").val(result3.year);


                    // =================== Rooms details ======================
                    var saturdayRoom = result3.roomData.Saturday;
                    var sundayRoom = result3.roomData.Sunday;
                    var mondayRoom = result3.roomData.Monday;
                    var teusdayRoom = result3.roomData.Tuesday;
                    var wednsdayRoom = result3.roomData.Wednesday;
                    var tursdayRoom = result3.roomData.Thursday;
                    var fridayRoom = result3.roomData.Friday;

                    for (var i = 0; i < saturdayRoom.length; i++) {
                        if (saturdayRoom[i].RoomStatus === 0) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-success Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 1) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 2) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 3) {
                            $("#Saturday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");
                            
                        }
                    }

                    for (var i = 0; i < sundayRoom.length; i++) {
                        //$("#Sunday-Room-Data").append("<div>" + sundayRoom[i].RoomNumber + "</div>");
                        
                        if (sundayRoom[i].RoomStatus === 0) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 1) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 2) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 3) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < mondayRoom.length; i++) {
                        //$("#Monday-Room-Data").append("<div>" + mondayRoom[i].RoomNumber + "</div>");

                        if (mondayRoom[i].RoomStatus === 0) {
                            $("#Monday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 1) {
                            $("#Monday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 2) {
                            $("#Monday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 3) {
                            $("#Monday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < teusdayRoom.length; i++) {
                        //$("#Teusday-Room-Data").append("<div>" + teusdayRoom[i].RoomNumber + "</div>");
                        if (teusdayRoom[i].RoomStatus === 0) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 1) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 2) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 3) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < wednsdayRoom.length; i++) {
                        //$("#Wednsday-Room-Data").append("<div>" + wednsdayRoom[i].RoomNumber + "</div>");

                        if (wednsdayRoom[i].RoomStatus === 0) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 1) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 2) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 3) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < tursdayRoom.length; i++) {
                        //$("#Thursday-Room-Data").append("<div>" + tursdayRoom[i].RoomNumber + "</div>");

                        if (tursdayRoom[i].RoomStatus === 0) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 1) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 2) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 3) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < fridayRoom.length; i++) {
                        //$("#Friday-Room-Data").append("<div>" + fridayRoom[i].RoomNumber + "</div>");

                        
                        if (fridayRoom[i].RoomStatus === 0) {
                            $("#Friday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 1) {
                            $("#Friday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 2) {
                            $("#Friday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 3) {
                            $("#Friday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }


                }
            });
        });


        // Get Previous week Detail
        $("#btnPreviosWeek").click(function() {

            // Clear the rooms values 
            $("#Saturday-Room-Data").html("");
            $("#Sunday-Room-Data").html("");
            $("#Monday-Room-Data").html("");
            $("#Teusday-Room-Data").html("");
            $("#Wednsday-Room-Data").html("");
            $("#Thursday-Room-Data").html("");
            $("#Friday-Room-Data").html("");

            weekIndex = weekIndex - 1;

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/GetWeekHeader",
                data: {
                    index: weekIndex
                },
                success: function(result3) {

                    if(weekIndex === 0){
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#fb897e");
                            $("#saturday-date").css("color", "#fb897e");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#fb897e");
                            $("#sunday-date").css("color", "#fb897e");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#fb897e");
                            $("#monday-date").css("color", "#fb897e");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#fb897e");
                            $("#tuesday-date").css("color", "#fb897e");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#fb897e");
                            $("#wendsday-date").css("color", "#fb897e");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#fb897e");
                            $("#thursday-date").css("color", "#fb897e");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#fb897e");
                            $("#friday-date").css("color", "#fb897e");
                        }
                    } else {
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#e9ecef");
                            $("#saturday-date").css("color", "#d33e30");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#e9ecef");
                            $("#sunday-date").css("color", "#d33e30");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#e9ecef");
                            $("#monday-date").css("color", "#d33e30");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#e9ecef");
                            $("#tuesday-date").css("color", "#d33e30");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#e9ecef");
                            $("#wendsday-date").css("color", "#d33e30");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#e9ecef");
                            $("#thursday-date").css("color", "#d33e30");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#e9ecef");
                            $("#friday-date").css("color", "#d33e30");
                        }
                    }

                    // ================== Set week header date =====================
                    $("#saturday-date").text(result3.weekHeaderDate[0]);
                    $("#sunday-date").text(result3.weekHeaderDate[1]);
                    $("#monday-date").text(result3.weekHeaderDate[2]);
                    $("#tuesday-date").text(result3.weekHeaderDate[3]);
                    $("#wendsday-date").text(result3.weekHeaderDate[4]);
                    $("#thursday-date").text(result3.weekHeaderDate[5]);
                    $("#friday-date").text(result3.weekHeaderDate[6]);

                    // ================== Set month name =====================
                    $("#monthName").text(result3.monthName);

                    // ================== Set Year =====================
                    $("#child-flex-calender-week > input").val(result3.year);

                    $("#Saturday-Room-Data").html("");
                    $("#Sunday-Room-Data").html("");
                    $("#Monday-Room-Data").html("");
                    $("#Teusday-Room-Data").html("");
                    $("#Wednsday-Room-Data").html("");
                    $("#Thursday-Room-Data").html("");
                    $("#Saturday-Room-Data").html("");

                    // =================== Rooms details ======================
                    var saturdayRoom = result3.roomData.Saturday;
                    var sundayRoom = result3.roomData.Sunday;
                    var mondayRoom = result3.roomData.Monday;
                    var teusdayRoom = result3.roomData.Tuesday;
                    var wednsdayRoom = result3.roomData.Wednesday;
                    var tursdayRoom = result3.roomData.Thursday;
                    var fridayRoom = result3.roomData.Friday;


                    for (var i = 0; i < saturdayRoom.length; i++) {
                        if (saturdayRoom[i].RoomStatus === 0) {
                        $("#Saturday-Room-Data").append("<div class='btn btn-success Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 1) {
                        $("#Saturday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 2) {
                        $("#Saturday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");

                        }else if (saturdayRoom[i].RoomStatus === 3) {
                        $("#Saturday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + saturdayRoom[i].RoomNumber + "</div></br>");
                            
                        }
                    }

                    for (var i = 0; i < sundayRoom.length; i++) {
                        //$("#Sunday-Room-Data").append("<div>" + sundayRoom[i].RoomNumber + "</div>");
                        
                        if (sundayRoom[i].RoomStatus === 0) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 1) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 2) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");

                        }else if (sundayRoom[i].RoomStatus === 3) {
                            $("#Sunday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + sundayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < mondayRoom.length; i++) {
                        //$("#Monday-Room-Data").append("<div>" + mondayRoom[i].RoomNumber + "</div>");

                        if (mondayRoom[i].RoomStatus === 0) {
                            $("#Monday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 1) {
                            $("#Monday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 2) {
                            $("#Monday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");

                        }else if (mondayRoom[i].RoomStatus === 3) {
                            $("#Monday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + mondayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < teusdayRoom.length; i++) {
                        //$("#Teusday-Room-Data").append("<div>" + teusdayRoom[i].RoomNumber + "</div>");
                        if (teusdayRoom[i].RoomStatus === 0) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 1) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 2) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (teusdayRoom[i].RoomStatus === 3) {
                            $("#Teusday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + teusdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < wednsdayRoom.length; i++) {
                        //$("#Wednsday-Room-Data").append("<div>" + wednsdayRoom[i].RoomNumber + "</div>");

                        if (wednsdayRoom[i].RoomStatus === 0) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 1) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 2) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (wednsdayRoom[i].RoomStatus === 3) {
                            $("#Wednsday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + wednsdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < tursdayRoom.length; i++) {
                        //$("#Thursday-Room-Data").append("<div>" + tursdayRoom[i].RoomNumber + "</div>");

                        if (tursdayRoom[i].RoomStatus === 0) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 1) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 2) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");

                        }else if (tursdayRoom[i].RoomStatus === 3) {
                            $("#Thursday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + tursdayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                    for (var i = 0; i < fridayRoom.length; i++) {
                        //$("#Friday-Room-Data").append("<div>" + fridayRoom[i].RoomNumber + "</div>");

                        
                        if (fridayRoom[i].RoomStatus === 0) {
                            $("#Friday-Room-Data").append("<div class='btn btn-success Room-Btn' >" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 1) {
                            $("#Friday-Room-Data").append("<div class='btn btn-info Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 2) {
                            $("#Friday-Room-Data").append("<div class='btn btn-warning Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");

                        }else if (fridayRoom[i].RoomStatus === 3) {
                            $("#Friday-Room-Data").append("<div class='btn btn-danger Room-Btn'>" + fridayRoom[i].RoomNumber + "</div><br/>");
                            
                        }
                    }

                }
            });

        });

        function ShowDetail(thisId) {
            alert(thisId);
        }


    </script>

}
