@{
    ViewBag.Title = "RoomStatusPerWeek";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>

    @@font-face {
        font-family: 'Iran-Sans-fa';
        src: url('/fonts/IranSans/IRANSansWeb(FaNum).eot');
        src: url('/fonts/IranSans/IRANSansWeb(FaNum).woff') format('woff'), url('/fonts/IranSans/IRANSansWeb(FaNum).ttf') format('truetype');
    }

    /* General CSS */

    html,
    body {
        height: 100%;
        /*font-family: "Iran-Sans" !important;*/
        font-family: "Iran-Sans-fa" !important;
    }

    #monthName {
        text-align: center;
        color: #d33e30;
        font-size: 30px;
        margin-bottom: 0;
    }

    #parent-flex-calender-week {
        margin-bottom: 10px !important;
    }

    .calender-header {
        background-color: #494f5c;
        text-align: center;
        font-weight: bolder;
        padding-top: 20px;
    }

    .calender-header-day {
        color: #e9ecef;
        font-size: 20px;
    }

    .calender-header-date {
        color: #d33e30;
        font-size: 50px;
    }

    .p-6 {
        width: 150%;
        height: 150%;
    }

    .Room-Data {
        text-align: center;
        font-size: 16px;
    }

    .Room-Btn {
        width: 120px;
        margin: 2px;
    }
</style>


<div class="d-flex justify-content-center mb-3" id="parent-flex-calender-week">

    <div class="p-2">
        <input id="btnPreviosWeek" type="button" value="<- &nbsp;  قبلی" class="btn btn-primary" style="background-color: #d33e30; border-color: #ffffff; width: 10em; height: 40px; padding-right: 0; margin-top: 54px;" />
    </div>

    <div class="p-2" id="child-flex-calender-week">
        <p id="monthName">شهریور</p>
        <input type="text" value="1399" class="form-control" readonly="readonly" style="height: 40px; text-align: center; font-size: 20px;" />
    </div>

    <div class="p-2">
        <input id="btnNextWeek" type="button" value="بعدی &nbsp; ->" class="btn btn-primary" style="background-color: #d33e30; border-color: #ffffff; width: 10em; height: 40px; padding-left: 0; margin-top: 54px;" />
    </div>
</div>

<div class="d-flex justify-content-center" id="parent-flex-calender-table">

    <div class="p-6">
        <div class="calender-header">
            <span id="saturday" class="calender-header-day">شنبه</span>
            <br />
            <span id="saturday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Saturday-Room-Data">
            <!--================ Room Data =================-->

        </div>

    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="sunday" class="calender-header-day">یک شنبه</span>
            <br />
            <span id="sunday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Sunday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="monday" class="calender-header-day">دو شنبه</span>
            <br />
            <span id="monday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Monday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="tuesday" class="calender-header-day">سه شنبه</span>
            <br />
            <span id="tuesday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Teusday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="wendsday" class="calender-header-day">چهار شنبه</span>
            <br />
            <span id="wendsday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Wednsday-Room-Data">
            <!--================ Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="thursday" class="calender-header-day">پنج شنبه</span>
            <br />
            <span id="thursday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Thursday-Room-Data">
            <!--============== Room Data =================-->

        </div>
    </div>
    <div class="p-6">
        <div class="calender-header">
            <span id="friday" class="calender-header-day">جمعه</span>
            <br />
            <span id="friday-date" class="calender-header-date">06</span>
        </div>
        <br />
        <div class="Room-Data" id="Friday-Room-Data">
            <!--============== Room Data =================-->

        </div>
    </div>
</div>

<br /><br /><br /><div class="row" style="border: 1px solid #494f5c"></div><br /><br />

<h3>مسافرین حاضر در هتل </h3>
<div class="k-rtl" id="customersInHotelGrid" style="margin-bottom: 40px;"></div>


<!-- Izi Modals -->
<div id="reserveDetailModal" hidden></div>
<div id="checkingDetailModal" hidden></div>
<div id="PassengerDetails" hidden></div>

<!-- Hidden Ids -->
<input type="hidden" id="ReserveHiddenId" />
<input type="hidden" id="CheckingHiddenId" />
<input type="hidden" id="RoomHiddenId" />
<input type="hidden" id="customerHiddenId" />
<input type="hidden" id="passengerHiddenId" />



@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/signalr/hubs"></script>


    <script>

        var weekIndex = 0;
        var currentDay = 0;

        var firstDayOfWeek;
        var lastDayOfWeek;
        var month;
        var year;

        function ShowDetail(reserveId , checkingId, roomId) {

            if (reserveId != "null") {

                $.ajax({
                    dataType: "HTML",
                    //url: "/Admin/Room/_ReserveDetail?reserveId=" + $("#ReserveHiddenId").val() + "&roomId=" + $("#RoomHiddenId").val(),
                    url: "/Admin/Room/_ReserveDetail?reserveId=" + reserveId + "&roomId=" + roomId,
                    success: function(result) {
                        $("#reserveDetailModal").iziModal('setContent', result);

                        $("#reserveDetailModal").iziModal('open');
                        $("#reserveDetailModal").removeAttr("hidden", "hidden");
                    }
                });
            }
            else if (checkingId != "null") {

                $.ajax({
                    dataType: "HTML",
                    //url: "/Admin/Room/_CheckingDetail?checkingId=" + $("#CheckingHiddenId").val() + "&roomId=" + $("#RoomHiddenId").val(),
                    url: "/Admin/Room/_CheckingDetail?checkingId=" + checkingId + "&roomId=" + roomId,
                    success: function(result) {
                        $("#checkingDetailModal").iziModal('setContent', result);

                        $("#checkingDetailModal").iziModal('open');
                        $("#checkingDetailModal").removeAttr("hidden", "hidden");
                    }
                });
            }

        }

        function SetRoomData(data , dataHtmlId)
        {
            for (var i = 0; i < data.length; i++) {
                if (data[i].RoomStatus === 0) {
                    $("#" + dataHtmlId).append("<div onClick=ShowDetail("+"'"+ data[i].ReserveId +"'" + "," + "'" + data[i].CheckingId + "'" + "," + "'" + data[i].Id + "'" +")  class='btn btn-success Room-Btn'>" + data[i].RoomNumber + "</div></br>");

                    $("#ReserveHiddenId").val(data[i].ReserveId);
                    $("#CheckingHiddenId").val(data[i].CheckingId);
                    $("#RoomHiddenId").val(data[i].Id);

                }else if (data[i].RoomStatus === 1) {
                    $("#" + dataHtmlId).append("<div onClick=ShowDetail("+"'"+ data[i].ReserveId +"'" + "," + "'" + data[i].CheckingId + "'" + "," + "'" + data[i].Id + "'" +")  class='btn btn-info Room-Btn'>" + data[i].RoomNumber + "</div></br>");

                    $("#ReserveHiddenId").val(data[i].ReserveId);
                    $("#CheckingHiddenId").val(data[i].CheckingId);
                    $("#RoomHiddenId").val(data[i].Id);

                }else if (data[i].RoomStatus === 2) {
                    $("#" + dataHtmlId).append("<div onClick=ShowDetail("+"'"+ data[i].ReserveId +"'" + "," + "'" + data[i].CheckingId + "'" + "," + "'" + data[i].Id + "'" +")  class='btn btn-warning Room-Btn'>" + data[i].RoomNumber + "</div></br>");

                    $("#ReserveHiddenId").val(data[i].ReserveId);
                    $("#CheckingHiddenId").val(data[i].CheckingId);
                    $("#RoomHiddenId").val(data[i].Id);

                }else if (data[i].RoomStatus === 3) {
                    $("#" + dataHtmlId).append("<div onClick=ShowDetail("+"'"+ data[i].ReserveId +"'" + "," + "'" + data[i].CheckingId + "'" + "," + "'" + data[i].Id + "'" +")  class='btn btn-danger Room-Btn'>" + data[i].RoomNumber + "</div></br>");

                    $("#ReserveHiddenId").val(data[i].ReserveId);
                    $("#CheckingHiddenId").val(data[i].CheckingId);
                    $("#RoomHiddenId").val(data[i].Id);

                }
            }
        }

        $(function() {

            $("#reserveDetailModal").iziModal({
                title: "توضیحات",
                subtitle: "توضیحات بیشتر درباره اتاق",
                headerColor: '#494f5c',
                rtl: true,
                fullscreen: false,
                width: 400,
                zindex: 2000
            });

            $("#checkingDetailModal").iziModal({
                title: "توضیحات",
                subtitle: "توضیحات بیشتر درباره اتاق",
                headerColor: '#494f5c',
                rtl: true,
                fullscreen: false,
                width: 400,
                zindex: 2000
            });

            WeeklyCalender();

            var dashboard = $.connection.dashboardHub;

            $.connection.hub.start(function() {
                dashboard.client.activate(function(response) {
                });
            });

            dashboard.client.refreshCalender = function() {
                WeeklyCalender();
            }
        });


        //====================================================================================================================
        //====================================================================================================================
        //====================================================================================================================


        function WeeklyCalender() {
            // Clear the rooms values
            $("#Saturday-Room-Data").html("");
            $("#Sunday-Room-Data").html("");
            $("#Monday-Room-Data").html("");
            $("#Teusday-Room-Data").html("");
            $("#Wednsday-Room-Data").html("");
            $("#Thursday-Room-Data").html("");
            $("#Friday-Room-Data").html("");


            $.ajax({
                type: "JSON",
                url: "/Admin/Room/GetCurrentDay",
                success: function(result) {

                    currentDay = result.currentDay;

                    // ================== High light the current day =====================
                    if (result.currentDay === 0) {
                        $("#saturday").css("color", "#fb897e");
                        $("#saturday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 1) {
                        $("#sunday").css("color", "#fb897e");
                        $("#sunday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 2) {
                        $("#monday").css("color", "#fb897e");
                        $("#monday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 3) {
                        $("#tuesday").css("color", "#fb897e");
                        $("#tuesday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 4) {
                        $("#wendsday").css("color", "#fb897e");
                        $("#wendsday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 5) {
                        $("#thursday").css("color", "#fb897e");
                        $("#thursday-date").css("color", "#fb897e");
                    } else if (result.currentDay === 6) {
                        $("#friday").css("color", "#fb897e");
                        $("#friday-date").css("color", "#fb897e");
                    }
                    // ================== Set Year =====================
                    $("#child-flex-calender-week > input").val(result.year);

                    // ================== Set Month =====================
                    $("#monthName").text(result.monthName);

                    // ================== Set week header date =====================
                    $("#saturday-date").text(result.weekHeaderDate[0]);
                    $("#sunday-date").text(result.weekHeaderDate[1]);
                    $("#monday-date").text(result.weekHeaderDate[2]);
                    $("#tuesday-date").text(result.weekHeaderDate[3]);
                    $("#wendsday-date").text(result.weekHeaderDate[4]);
                    $("#thursday-date").text(result.weekHeaderDate[5]);
                    $("#friday-date").text(result.weekHeaderDate[6]);

                    // =================== Rooms details ======================
                    var saturdayRoom = result.roomData.Saturday;
                    var sundayRoom = result.roomData.Sunday;
                    var mondayRoom = result.roomData.Monday;
                    var teusdayRoom = result.roomData.Tuesday;
                    var wednsdayRoom = result.roomData.Wednesday;
                    var tursdayRoom = result.roomData.Thursday;
                    var fridayRoom = result.roomData.Friday;


                    var saturdayRoomData = "Saturday-Room-Data";
                    SetRoomData(saturdayRoom, saturdayRoomData);

                    var SundayRoomData = "Sunday-Room-Data";
                    SetRoomData(sundayRoom, SundayRoomData);

                    var MondayRoomData = "Monday-Room-Data";
                    SetRoomData(mondayRoom, MondayRoomData);

                    var TeusdayRoomData = "Teusday-Room-Data";
                    SetRoomData(teusdayRoom, TeusdayRoomData);

                    var WednsdayRoomData = "Wednsday-Room-Data";
                    SetRoomData(wednsdayRoom, WednsdayRoomData);

                    var TursdayRoomData = "Thursday-Room-Data";
                    SetRoomData(tursdayRoom, TursdayRoomData);

                    var FridayRoomData = "Friday-Room-Data";
                    SetRoomData(fridayRoom, FridayRoomData);
                }
            });

            $("#btnNextWeek").click(function() {
                NextWeek();
            });

            $("#btnPreviosWeek").click(function() {
                PreviousWeek();
            });
        }



        //====================================================================================================================
        //====================================================================================================================
        //====================================================================================================================



        function NextWeek() {
            // Clear the rooms values
            $("#Saturday-Room-Data").html("");
            $("#Sunday-Room-Data").html("");
            $("#Monday-Room-Data").html("");
            $("#Teusday-Room-Data").html("");
            $("#Wednsday-Room-Data").html("");
            $("#Thursday-Room-Data").html("");
            $("#Friday-Room-Data").html("");

            weekIndex = weekIndex + 1;

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/GetWeekHeader",
                data: {
                    index: weekIndex
                },
                success: function(result3) {

                    if(weekIndex === 0){
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#fb897e");
                            $("#saturday-date").css("color", "#fb897e");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#fb897e");
                            $("#sunday-date").css("color", "#fb897e");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#fb897e");
                            $("#monday-date").css("color", "#fb897e");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#fb897e");
                            $("#tuesday-date").css("color", "#fb897e");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#fb897e");
                            $("#wendsday-date").css("color", "#fb897e");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#fb897e");
                            $("#thursday-date").css("color", "#fb897e");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#fb897e");
                            $("#friday-date").css("color", "#fb897e");
                        }
                    } else {
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#e9ecef");
                            $("#saturday-date").css("color", "#d33e30");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#e9ecef");
                            $("#sunday-date").css("color", "#d33e30");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#e9ecef");
                            $("#monday-date").css("color", "#d33e30");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#e9ecef");
                            $("#tuesday-date").css("color", "#d33e30");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#e9ecef");
                            $("#wendsday-date").css("color", "#d33e30");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#e9ecef");
                            $("#thursday-date").css("color", "#d33e30");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#e9ecef");
                            $("#friday-date").css("color", "#d33e30");
                        }
                    }

                    // ================== Set week header date =====================
                    $("#saturday-date").text(result3.weekHeaderDate[0]);
                    $("#sunday-date").text(result3.weekHeaderDate[1]);
                    $("#monday-date").text(result3.weekHeaderDate[2]);
                    $("#tuesday-date").text(result3.weekHeaderDate[3]);
                    $("#wendsday-date").text(result3.weekHeaderDate[4]);
                    $("#thursday-date").text(result3.weekHeaderDate[5]);
                    $("#friday-date").text(result3.weekHeaderDate[6]);

                    // ================== Set month name =====================
                    $("#monthName").text(result3.monthName);

                    // ================== Set Year =====================
                    $("#child-flex-calender-week > input").val(result3.year);


                    // =================== Rooms details ======================
                    var saturdayRoom = result3.roomData.Saturday;
                    var sundayRoom = result3.roomData.Sunday;
                    var mondayRoom = result3.roomData.Monday;
                    var teusdayRoom = result3.roomData.Tuesday;
                    var wednsdayRoom = result3.roomData.Wednesday;
                    var tursdayRoom = result3.roomData.Thursday;
                    var fridayRoom = result3.roomData.Friday;

                    var saturdayRoomData = "Saturday-Room-Data";
                    SetRoomData(saturdayRoom, saturdayRoomData);

                    var SundayRoomData = "Sunday-Room-Data";
                    SetRoomData(sundayRoom, SundayRoomData);

                    var MondayRoomData = "Monday-Room-Data";
                    SetRoomData(mondayRoom, MondayRoomData);

                    var TeusdayRoomData = "Teusday-Room-Data";
                    SetRoomData(teusdayRoom, TeusdayRoomData);

                    var WednsdayRoomData = "Wednsday-Room-Data";
                    SetRoomData(wednsdayRoom, WednsdayRoomData);

                    var TursdayRoomData = "Thursday-Room-Data";
                    SetRoomData(tursdayRoom, TursdayRoomData);

                    var FridayRoomData = "Friday-Room-Data";
                    SetRoomData(fridayRoom, FridayRoomData);
                }
            });
        }


        //====================================================================================================================
        //====================================================================================================================
        //====================================================================================================================


        function PreviousWeek() {
            // Clear the rooms values
            $("#Saturday-Room-Data").html("");
            $("#Sunday-Room-Data").html("");
            $("#Monday-Room-Data").html("");
            $("#Teusday-Room-Data").html("");
            $("#Wednsday-Room-Data").html("");
            $("#Thursday-Room-Data").html("");
            $("#Friday-Room-Data").html("");

            weekIndex = weekIndex - 1;

            $.ajax({
                type: "JSON",
                url: "/Admin/Room/GetWeekHeader",
                data: {
                    index: weekIndex
                },
                success: function(result3) {

                    if(weekIndex === 0){
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#fb897e");
                            $("#saturday-date").css("color", "#fb897e");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#fb897e");
                            $("#sunday-date").css("color", "#fb897e");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#fb897e");
                            $("#monday-date").css("color", "#fb897e");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#fb897e");
                            $("#tuesday-date").css("color", "#fb897e");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#fb897e");
                            $("#wendsday-date").css("color", "#fb897e");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#fb897e");
                            $("#thursday-date").css("color", "#fb897e");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#fb897e");
                            $("#friday-date").css("color", "#fb897e");
                        }
                    } else {
                        if (currentDay === 0) {
                            $("#saturday").css("color", "#e9ecef");
                            $("#saturday-date").css("color", "#d33e30");
                        } else if (currentDay === 1) {
                            $("#sunday").css("color", "#e9ecef");
                            $("#sunday-date").css("color", "#d33e30");
                        } else if (currentDay === 2) {
                            $("#monday").css("color", "#e9ecef");
                            $("#monday-date").css("color", "#d33e30");
                        } else if (currentDay === 3) {
                            $("#tuesday").css("color", "#e9ecef");
                            $("#tuesday-date").css("color", "#d33e30");
                        } else if (currentDay === 4) {
                            $("#wendsday").css("color", "#e9ecef");
                            $("#wendsday-date").css("color", "#d33e30");
                        } else if (currentDay === 5) {
                            $("#thursday").css("color", "#e9ecef");
                            $("#thursday-date").css("color", "#d33e30");
                        } else if (currentDay === 6) {
                            $("#friday").css("color", "#e9ecef");
                            $("#friday-date").css("color", "#d33e30");
                        }
                    }

                    // ================== Set week header date =====================
                    $("#saturday-date").text(result3.weekHeaderDate[0]);
                    $("#sunday-date").text(result3.weekHeaderDate[1]);
                    $("#monday-date").text(result3.weekHeaderDate[2]);
                    $("#tuesday-date").text(result3.weekHeaderDate[3]);
                    $("#wendsday-date").text(result3.weekHeaderDate[4]);
                    $("#thursday-date").text(result3.weekHeaderDate[5]);
                    $("#friday-date").text(result3.weekHeaderDate[6]);

                    // ================== Set month name =====================
                    $("#monthName").text(result3.monthName);

                    // ================== Set Year =====================
                    $("#child-flex-calender-week > input").val(result3.year);

                    $("#Saturday-Room-Data").html("");
                    $("#Sunday-Room-Data").html("");
                    $("#Monday-Room-Data").html("");
                    $("#Teusday-Room-Data").html("");
                    $("#Wednsday-Room-Data").html("");
                    $("#Thursday-Room-Data").html("");
                    $("#Saturday-Room-Data").html("");

                    // =================== Rooms details ======================
                    var saturdayRoom = result3.roomData.Saturday;
                    var sundayRoom = result3.roomData.Sunday;
                    var mondayRoom = result3.roomData.Monday;
                    var teusdayRoom = result3.roomData.Tuesday;
                    var wednsdayRoom = result3.roomData.Wednesday;
                    var tursdayRoom = result3.roomData.Thursday;
                    var fridayRoom = result3.roomData.Friday;


                    var saturdayRoomData = "Saturday-Room-Data";
                    SetRoomData(saturdayRoom, saturdayRoomData);

                    var SundayRoomData = "Sunday-Room-Data";
                    SetRoomData(sundayRoom, SundayRoomData);

                    var MondayRoomData = "Monday-Room-Data";
                    SetRoomData(mondayRoom, MondayRoomData);

                    var TeusdayRoomData = "Teusday-Room-Data";
                    SetRoomData(teusdayRoom, TeusdayRoomData);

                    var WednsdayRoomData = "Wednsday-Room-Data";
                    SetRoomData(wednsdayRoom, WednsdayRoomData);

                    var TursdayRoomData = "Thursday-Room-Data";
                    SetRoomData(tursdayRoom, TursdayRoomData);

                    var FridayRoomData = "Friday-Room-Data";
                    SetRoomData(fridayRoom, FridayRoomData);
                }
            });
        }
    </script>

    <script>
        $(function () {
            $("#customersInHotelGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Admin/Room/CustomersInHotel"
                    },
                    pageSize: 20
                },
                filterable: true,
                height: 450,
                width: 'auto',
                groupable: true,
                sortable: true,
                selectable: true,
                pageable: {
                    refresh: true,
                    pageSize: 20,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "FirstName",
                        title: "نام",
                        width: 180
                    },
                    {
                        field: "LastName",
                        title: "نام خانوادگی",
                        width: 180
                    },
                    {
                        field: "NationalNo",
                        title: "کد ملی",
                        width: 180
                    },
                    {
                        field: "PassportNo",
                        title: "شماره پاسپورت",
                        width: 180
                    }
                ]
            });
        });

        $("#customersInHotelGrid").on("dblclick",
            "tr.k-state-selected",
            function (e) {

                $("#PassengerDetails").iziModal({
                    title: "مشخصات",
                    subtitle: "مشخصات مسافر و ثبت اطلاعات بیشتر",
                    headerColor: '#343a40',
                    rtl: true,
                    fullscreen: true,
                    width: 600
                });


                var grid = $("#customersInHotelGrid").data("kendoGrid");
                var row = grid.dataItem(grid.select());
                var customerId = row.CustomerId;
                var passengerId = row.PassengerId;

                $("#customerHiddenId").val(customerId);
                $("#passengerHiddenId").val(passengerId);

                e.preventDefault();

                // Open the Detail modal using ajax and partial view
                $.ajax({
                    dataType: "HTML",
                    type: "POST",
                    url: "/Admin/Room/_PassengerDetails?passengerId=" + passengerId,
                    success: function (result) {
                        $("#PassengerDetails").iziModal('setContent', result);
                        $("#PassengerDetails").iziModal('open');
                        $("#PassengerDetails").removeAttr("hidden", "hidden");
                    }
                });
            });
    </script>
}
