@model HMS.Model.Core.DTOs.Customer.CustomerFelowDto

<style>

    .disableTab {
        background-color: #babbbc;
        color: white;
    }
</style>

<div id="ContactTabs">
    <div class="row" style="height: 60px;">
        <div class="col col-md-6 Create-Customer-Tab" id="contactDetailsGrid" onclick="openTab1()" style="cursor: pointer">
            مسافرین همراه
        </div>
        <div class="col col-md-6 Create-Customer-Tab disableTab" id="newContact" onclick="openTab2()" style="cursor: pointer">
            ثبت اطلاعات جدید
        </div>
    </div>

    <!-- Tab Contents -->
    <form id="frmCreateCustomer" class="container">
        <div class="row">
            <div id="tabContent1" class="col-12" style="padding: 20px;">
                <div class="k-rtl" id="FelowCustomerGrid"></div>
            </div>

            <div id="tabContent2" hidden class="col-12" style="padding: 20px;">
                ثبت اطلاعات جدید
            </div>
        </div>
    </form>

    <input id="btnSubmitCreateCustomer" type="button" value="ثبت اطلاعات" class="btn btn-block" style="background-color: #13a394; color: white; font-weight: 300; font-size: 16px" />
</div>



<!-- Hidden Inputs -->
<input type="hidden" id="parentCustomerId" value="@Model.ParentCustomerId"/>
<!-- /Hidden Inputs -->


<!--============ Felow Customer Grid ============-->
<script>

    $(function () {
        $("#FelowCustomerGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Customer/FelowCustomer_Read/" + $("#parentCustomerId").val()
                },
                pageSize: 20
            },
            filterable: true,
            height: 550,
            width: 'auto',
            groupable: true,
            sortable: true,
            selectable: true,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    field: "FirstName",
                    title: "نام",
                    width: 180
                },
                {
                    field: "LastName",
                    title: "نام خانوادگی",
                    width: 180
                },
                {
                    field: "NationalNo",
                    title: "کد ملی",
                    width: 180
                },
                {
                    field: "PassportNo",
                    title: "شماره پاسپورت",
                    width: 180
                },
                {
                    field: "Id",
                    title: " ",
                    filterable: false,
                    sortable: false,
                    groupable: false,
                    template: '<button id="btn-RemoveCustomer" class="btn btn-primary" onClick="remove_Customer(' +
                        "'#=Id#'" +
                        ')">حذف</button>',
                    width: 180
                }
            ]
        });
    });

</script>
<!--============ /Felow Customer Grid ============-->
<!--============ Handling Tab ============-->
<script>

    function openTab1() {
        $("#tabContent1").removeAttr("hidden");
        $("#tabContent2").attr("hidden", "hidden");

        $("#newContact").addClass("disableTab");
        $("#contactDetailsGrid").removeClass("disableTab");
    }

    function openTab2() {
        $("#tabContent2").removeAttr("hidden");
        $("#tabContent1").attr("hidden", "hidden");

        $("#contactDetailsGrid").addClass("disableTab");
        $("#newContact").removeClass("disableTab");
    }

</script>
<!--============ Handling Tab ============-->