@model HMS.Model.Core.DTOs.Customer.CreateCustomerDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>

    #btn-RemoveCustomer {
        background-color: #ff0043;
        border-color: #daeffd;
        width: 110px;
        margin-right: 20px;
    }

    .Create-Customer-Tab {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        vertical-align: middle;
    }

    #personalDetail:hover {
        background-color: white;
        color: #6a7a8c;
        cursor: pointer;
    }

    #userDetail:hover {
        background-color: white;
        color: #6a7a8c;
        cursor: pointer;
    }

    .disableTab {
        background-color: #babbbc;
        color: white;
    }
</style>




<!--============ Button crete customer ============-->
<div class="row">
    <div class="col col-md-6">
        <input id="btnCreateCustomer" type="button" value="ثبت مسافر" class="btn btn-dark" style="width: 15em" />
    </div>
</div>

<!--============ Customer Grid ============-->
<div id="customerGrid" class="k-rtl"></div>
















<!--============ Partial Views ============-->
<div id="createCustomerModal" hidden>
    <div id="createCustomerPartial"></div>
</div>

<div id="detailModal" hidden>
    <div id="createContactandFelowTraveller"></div>
</div>

<!--============ Partial Views ============-->




<!--============ Hidden inputs ============-->
<!--============ /Hidden inputs ============-->




@section Scripts
{
    <!--============ Customer Grid ============-->
    <script>

        // this is same as (document).ready(function(){})
        $(function () {
            $("#customerGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Admin/Customer/Customer_Read"
                    },
                    pageSize: 20
                },
                filterable: true,
                height: 550,
                width: 'auto',
                groupable: true,
                sortable: true,
                selectable: true,
                pageable: {
                    refresh: true,
                    pageSize: 20,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "FirstName",
                        title: "نام",
                        width: 180
                    },
                    {
                        field: "LastName",
                        title: "نام خانوادگی",
                        width: 180
                    },
                    {
                        field: "NationalNo",
                        title: "کد ملی",
                        width: 180
                    },
                    {
                        field: "PassportNo",
                        title: "شماره پاسپورت",
                        width: 180
                    },
                    {
                        field: "Id",
                        title: " ",
                        filterable: false,
                        sortable: false,
                        groupable: false,
                        template: '<button id="btn-RemoveCustomer" class="btn btn-primary" onClick="remove_Customer(' + "'#=Id#'" + ')">حذف</button>',
                        width: 180
                    }
                ]
            });
        });

    </script>
    <!--============ /Customer Grid ============-->
    <!--============ Remove Customer ============-->
    <script>

        function remove_Customer(Id) {

            iziToast.question({
                timeout: 20000,
                color: 'red',
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'حذف',
                message: 'آیا مطمن هستید؟',
                rtl: true,
                position: 'center',
                buttons: [
                    ['<button><b>بلی</b></button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        $.ajax({
                            type: "POST",
                            url: "/Admin/Customer/Customer_Delete/" + Id,
                            success: function (result) {
                                if (result === true) {
                                    iziToast.success({
                                        position: "bottomRight",
                                        pauseOnHover: false,
                                        timeout: 2000,
                                        displayMode: 1,
                                        rtl: true,
                                        title: "بسیار عالی",
                                        message: "مسافر مورد نظر حذف شد."
                                    });
                                    $("#customerGrid").data("kendoGrid").dataSource.read();
                                } else {
                                    iziToast.warning({
                                        position: "bottomRight",
                                        timeout: 2000,
                                        rtl: true,
                                        title: "متاسفانه",
                                        message: "مشکلی رخ داده است!"
                                    });
                                }
                            }
                        });

                    }, true],
                    ['<button>خیر</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ]
            });
        }

    </script>
    <!--============ /Remove Customer ============-->
    <!--============ Open create customer partial using ajax ============-->
    <script>
        $("#btnCreateCustomer").click(function () {

            $("#createCustomerModal").iziModal({
                title: "ثبت مسافر",
                subtitle: "ثبت نام مسافر جدید",
                headerColor: '#343a40',
                rtl: true,
                fullscreen: true,
                width: 800
            });

            $.ajax({
                dataType: "HTML",
                url: "/Admin/Customer/_CreateCustomer",
                success: function (result) {
                    $("#createCustomerPartial").html(result);
                }
            });

            $("#createCustomerModal").iziModal("open");
            $("#createCustomerModal").removeAttr("hidden");
        })
    </script>
    <!--============ /Open create customer partial using ajax ============-->
    <!--============ Kendo grid double click ============-->
    <script>
        $("#customerGrid").on("dblclick",
            "tr.k-state-selected",
            function (e) {

                $("#detailModal").iziModal({
                    title: "مشخصات",
                    subtitle: "مشخصات مسافر و ثبت اطلاعات بیشتر",
                    headerColor: '#343a40',
                    rtl: true,
                    fullscreen: true,
                    width: 600
                });


                var grid = $("#customerGrid").data("kendoGrid");
                var row = grid.dataItem(grid.select());
                var rowId = row.Id;

                e.preventDefault();

                // Open the Detail modal using ajax and partial view
                $.ajax({
                    dataType: "HTML",
                    type: "POST",
                    url: "/Admin/Customer/_CustomerDetails/" + rowId,
                    success: function (result) {
                        $("#createContactandFelowTraveller").html(result);
                    }
                });


                $("#detailModal").iziModal('open');
                $("#detailModal").removeAttr("hidden", "hidden");

            });
    </script>
    <!--============ /Kendo grid double click ============-->
}
