
<div style="margin: 20px 15px;" class="k-rtl">
    <p><strong>جهت ثبت رزرو برای هر مسافر بروی آن مسافر در جدول دوبار کلیک کنید</strong></p>
    <div id="customerGrid"></div>
</div>


<!-- Partial Views -->
<div id="CreateReservationModal" hidden>
    <div id="CreateReservationPartial"></div>
</div>
<!-- /Partial Views -->




<!-- Hidden Inputs -->
<input type="hidden" id="customerId"/>
<!-- /Hidden Inputs -->





<!--======================== Customer Grid ========================-->
<script>

    $(function () {
        $("#customerGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Customer/Customer_Read"
                },
                pageSize: 20
            },
            filterable: true,
            height: 550,
            width: 'auto',
            groupable: true,
            sortable: true,
            selectable: true,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    field: "FirstName",
                    title: "نام",
                    width: 180
                },
                {
                    field: "LastName",
                    title: "نام خانوادگی",
                    width: 180
                },
                {
                    field: "NationalNo",
                    title: "کد ملی",
                    width: 180
                },
                {
                    field: "PassportNo",
                    title: "شماره پاسپورت",
                    width: 180
                }
            ]
        });
    });

</script>

<!--============ Kendo grid double click ============-->
<script>
    $("#customerGrid").on("dblclick",
        "tr.k-state-selected",
        function (e) {

            $("#CreateReservationModal").iziModal({
                title: "رزرواسیون",
                subtitle: "رزرو چندین اتاق برای یک مسافر",
                headerColor: '#343a40',
                rtl: true,
                fullscreen: true,
                width: 600,
                zindex: 2100
            });


            var grid = $("#customerGrid").data("kendoGrid");
            var row = grid.dataItem(grid.select());
            var rowId = row.Id;

            $("#customerId").val(rowId);

            e.preventDefault();

            // Open the Detail modal using ajax and partial view
            $.ajax({
                dataType: "HTML",
                type: "POST",
                url: "/Admin/Reservation/_CreateReservation/" + rowId,
                success: function (result) {
                    $("#CreateReservationPartial").html(result);
                }
            });


            $("#CreateReservationModal").iziModal('open');
            $("#CreateReservationModal").removeAttr("hidden", "hidden");

        });
</script>
<!--============ /Kendo grid double click ============-->