<div id="example">
    <div id="grid"></div>

    <script>
        var READ_PRODUCTS_QUERY = "query {" +
            "products { Id, FirstName, LastName, NationalNo, PassportNo }" +
            "}";

        var UPDATE_PRODUCT_QUERY = "mutation UpdateProductMutation($product: ProductInput!){" +
            "updateProduct(product: $product){" +
            "Id," +
            "FirstName," +
            "LastName," +
            "NationalNo" +
            "PassportNo" +
            "}" +
            "}";

        var DELETE_PRODUCT_QUERY = "mutation DeleteProductMutation($product: ProductInput!){" +
            "deleteProduct(product: $product){" +
            "Id," +
            "FirstName," +
            "LastName," +
            "NationalNo" +
            "PassportNo" +
            "}" +
            "}";

        $(document).ready(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        contentType: "application/json",
                        url: "/Admin/ManageCustomer/Read",
                        type: "POST",
                        data: function () {
                            return { query: READ_PRODUCTS_QUERY };
                        }
                    },
                    update: {
                        contentType: "application/json",
                        url: "/Admin/ManageCustomer/Update",
                        type: "POST",
                        data: function (model) {
                            return {
                                query: UPDATE_PRODUCT_QUERY,
                                variables: { "product": model }
                            };
                        }
                    },
                    destroy: {
                        contentType: "application/json",
                        url: "/Admin/ManageCustomer/Delete",
                        type: "POST",
                        data: function (model) {
                            return {
                                query: DELETE_PRODUCT_QUERY,
                                variables: { "product": model }
                            };
                        }
                    },
                    parameterMap: function (options, operation) {
                        return kendo.stringify({
                            query: options.query,
                            variables: options.variables
                        });
                    }
                },
                pageSize: 20
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 550,
                groupable: true,
                sortable: true,
                pageable: true,
                editable: "inline",
                columns: [{
                    field: "FirstName",
                    title: "نام"
                },
                {
                    field: "LastName",
                    title: "نام خانوادگی"
                },
                {
                    field: "NationalNo",
                    title: "کد ملی"
                },
                {
                    field: "PassportNo",
                    title: "شماره پاسپورت"
                },
                {
                    command: ["edit", "destroy"],
                    title: "Options ",
                    width: "250px"
                }]
            });
        });
    </script>

</div>