<!-- Persian DateTime picker -->
<script src="~/DatePicker/popper.min.js"></script>
<script src="~/DatePicker/bootstrap.min.js"></script>
<link href="~/DatePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

<div class="tab">
    <button class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab2')">مسافرین همراه</button>
    <button id="btnInformation" class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab1')">اطلاعات اولیه</button>
</div>

<div id="Tab1" class="tabcontent">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer fa fa-calendar" id="fromDate"></span>
                    <input readonly="readonly" type="text" id="inputFromDate" class="form-control" placeholder="از تاریخ" aria-label="date4"
                           aria-describedby="date4">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer fa fa-calendar" id="toDate"></span>
                    <input readonly="readonly" type="text" id="inputToDate" class="form-control" placeholder="تا تاریخ" aria-label="date5"
                           aria-describedby="date5">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input class="form-control btn" type="button" value="فیلتر" id="btnFilterRooms" style="background-color:#3f51b5; color:rgb(255,255,255); border-color: #e6e6e6;" />
        </div>
    </div>
    <div id="FreeRoomGridParentDiv">
        <div id="FreeRoomsGrid" class="k-rtl"></div>
    </div>
</div>

<div id="Tab2" class="tabcontent">
    <input class="btn" type="button" value="ثبت مسافر همراه" id="btnCreateFellowCustomer" style="background-color:#3f51b5; color:rgb(255,255,255); border-color: #e6e6e6; width: 400px;" />
    <div style="margin: 2px;">
        <div id="fellowCustomerGrid" class="k-rtl"></div>
    </div>
</div>

<br />
<input id="btnCreateChecking" type="button" value="ثبت" class="btn btn-block" style="background-color:#3f51b5; color:rgb(255,255,255); border-color: #e6e6e6;" />


<!--============= IziModal ===============-->
<div id="CreateFellowModal" hidden></div>
<!--============= /IziModal===============-->
<!-- Persian Date picker initialization -->
<script src="~/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>

<!--==================== Fellow Customer =====================-->
<script>
    $(function () {

        //<!--==================== /Fellow Customer =====================-->
        function onChangeFellow(e) {
            var rows = e.sender.select();
            selectedFellowId = [];
            rows.each(function(e) {
                var grid = $("#fellowCustomerGrid").data("kendoGrid");
                var dataItem = grid.dataItem(this);
                selectedFellowId.push(dataItem.Id);
            });
        }

        $("#fellowCustomerGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Checking/GetCustomers?hostId=" + $("#CustomerId").val()
                },
                pageSize: 20
            },
            filterable: true,
            height: 400,
            width: 'auto',
            groupable: true,
            sortable: true,
            change: onChangeFellow,
            selectable: false,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    selectable: true,
                    width: '50px'
                },
                {
                    field: "FirstName",
                    title: "نام",
                    width: 180
                },
                {
                    field: "LastName",
                    title: "نام خانوادگی",
                    width: 180
                },
                {
                    field: "NationalNo",
                    title: "کد ملی",
                    width: 180
                },
                {
                    field: "PassportNo",
                    title: "شماره پاسپورت",
                    width: 180
                }
            ]
        });
    });

    // Create customer modal
    $("#btnCreateFellowCustomer").click(function() {

        $("#CreateFellowModal").iziModal({
            title: "ثبت مسافر",
            subtitle: "ثبت مسافرین همراه برای میزبان",
            headerColor: '#494f5c',
            rtl: true,
            fullscreen: false,
            width: 500,
            zindex: 2100
        });

        $.ajax({
            dataType: "HTML",
            url: "/Admin/Checking/_CreateFellowCustomer",
            success: function (result) {
                $("#CreateFellowModal").iziModal('setContent',result);

                $("#CreateFellowModal").iziModal('open');
                $("#CreateFellowModal").removeAttr("hidden", "hidden");
            }
        });
    });
    //<!--==================== /Fellow Customer =====================-->

    //<!--==================== Free Rooms =====================-->
    freeRoomGrid("#FreeRoomsGrid");

    var selectedRoomId;
    function freeRoomGrid(ID) {

        $(ID).kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Checking/GetRooms?fromDate=" + $("#inputFromDate").val() + "&toDate=" + $("#inputToDate").val()
                },
                pageSize: 20
            },
            filterable: true,
            height: 400,
            width: 'auto',
            groupable: true,
            sortable: true,
            selectable: true,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    field: "RoomNumber",
                    title: "شماره اتاق",
                    width: 180
                },
                {
                    field: "SingleBedCount",
                    title: "تعداد تخت خواب یک نفره",
                    width: 180
                },
                {
                    field: "DoubleBedCount",
                    title: "تعداد تخت خواب دو نفره",
                    width: 180
                },
                {
                    field: "Rate",
                    title: "امتیاز",
                    width: 180
                },
                {
                    field: "Entertainment",
                    title: "سرگرمی",
                    width: 180
                },
                {
                    field: "Description",
                    title: "توضیحات",
                    width: 180
                }
            ]
        });

        $("#btnFilterRooms").click(function() {

            $("#FreeRoomsGrid").remove();
            $("#FreeRoomGridParentDiv").html("<div id='NewFreeRoomsGrid' class='k-rtl'></div>");

            freeRoomGrid("#NewFreeRoomGrid");
        });
    }
    //<!--==================== /Free Rooms =====================-->

    //<!--==================== Create Reserve =====================-->
    $("#btnCreateChecking").click(function() {

        var FromDate = $("#inputFromDate").val();
        var ToDate = $("#inputToDate").val();

        var grid2 = $("#FreeRoomsGrid").data("kendoGrid");
        var selectedItem = grid2.dataItem(grid2.select());


        if ((FromDate === "" || ToDate === "") && selectedItem.Id === null) {
            iziToast.warning({
                position: "bottomRight",
                timeout: 3000,
                rtl: true,
                message: "شما هیچ اطلاعاتی وارد نکردید لطفا دوباره سعی کنید!"
            });
        } else if (FromDate === "" || ToDate === "") {
            iziToast.warning({
                position: "bottomRight",
                timeout: 3000,
                rtl: true,
                message: "لطفا فیلدهای تاریخ ورود و خروج را مشخص کنید!"
            });
        } else if (selectedItem.Id === null) {
            iziToast.warning({
                position: "bottomRight",
                timeout: 3000,
                rtl: true,
                message: "حداقل یک اتاق باید انتخاب شود!"
            });
        } else {

            $.ajax({
                type: "POST",
                url: "/Admin/Checking/CreateChecking",
                data: {
                    model: {
                        HostId: $("#CustomerId").val(),
                        FromDate: FromDate,
                        ToDate: ToDate,
                        RoomId: selectedItem.Id,
                        PassengersId: selectedFellowId
                    }
                },
                success: function(result) {
            
                    if (result === true) {
                        iziToast.success({
                            position: "bottomRight",
                            timeout: 3000,
                            rtl: true,
                            title: "بسیار عالی",
                            message: "عملیات با موفقیت انجام شد."
                        });

                        $("#CheckingModal").iziModal('close');
            
                    }
                }
            });
        }
        //<!--==================== /Create Reserve =====================-->
    });

</script>



<script type="text/javascript">

    $('#fromDate').MdPersianDateTimePicker({
        targetTextSelector: '#inputFromDate',
        fromDate: true,
        enableTimePicker: false,
        groupId: 'rangeSelector1',
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: true,
    });
    $('#toDate').MdPersianDateTimePicker({
        targetTextSelector: '#inputToDate',
        toDate: true,
        groupId: 'rangeSelector1',
        placement: 'top',
        enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: true,
    });
</script>