
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--==================== References =====================-->
<link href="~/Content/Tab.css" rel="stylesheet" />
<!--==================== /References =====================-->


<div class="row" style="padding: 0px 15px;">
    <input id="btnShowCheckings" type="button" value="تمام ورودی خروجی های ثبت شده" style="background-color: #3f51b5; color: #fff ; border-color:#e6e6e6; width:50%;" class="btn" />
    <input id="btnCheckLastReserve" type="button" value="بررسی رزرو قبلی" style="background-color: #3f51b5; color: #fff ; border-color:#e6e6e6; width:50%;" class="btn" />
</div>
<div id="customerGrid" class="k-rtl"></div>



<!--==================== Modals =====================-->
<div id="CheckingModal" hidden="hidden"></div>
<div id="ShowCheckingModal" hidden="hidden"></div>
<div id="GetReservesModal" hidden="hidden"></div>
<!--==================== Modals =====================-->
<!--==================== Hidden Inputs =====================-->
<input type="hidden" id="CustomerId" />
<!--==================== /Hidden Inputs =====================-->





@section Scripts
{
    <!--==================== Customer Grid =====================-->
    <script>

        $(function() {
            $("#customerGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Admin/Customer/Customer_Read"
                    },
                    pageSize: 20
                },
                filterable: true,
                height: 550,
                width: 'auto',
                groupable: true,
                sortable: true,
                selectable: true,
                pageable: {
                    refresh: true,
                    pageSize: 20,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "FirstName",
                        title: "نام",
                        width: 180
                    },
                    {
                        field: "LastName",
                        title: "نام خانوادگی",
                        width: 180
                    },
                    {
                        field: "NationalNo",
                        title: "کد ملی",
                        width: 180
                    },
                    {
                        field: "PassportNo",
                        title: "شماره پاسپورت",
                        width: 180
                    }
                ]
            });
        });


        @* Customer Grid Double click event *@
        $("#customerGrid").on("dblclick",
            "tr.k-state-selected",
            function(e) {

                $("#CheckingModal").iziModal({
                    title: "ورود و خروج",
                    subtitle: "ثبت ورود و خروج",
                    headerColor: '#494f5c',
                    rtl: true,
                    fullscreen: false,
                    width: 800,
                    zindex: 2000
                });


                var grid = $("#customerGrid").data("kendoGrid");
                var row = grid.dataItem(grid.select());
                var rowId = row.Id;

                $("#CustomerId").val(rowId);

                $.ajax({
                    dataType: "HTML",
                    url: "/Admin/Checking/_CheckingModal",
                    success: function(result) {
                        $("#CheckingModal").iziModal('setContent', result);

                        $("#CheckingModal").iziModal('open');
                        $("#CheckingModal").removeAttr("hidden", "hidden");
                    }
                });
            });

    </script>
    <!--==================== /Customer Grid ======================-->
    <!--==================== Show Checkings ======================-->
    <script>

        $("#btnShowCheckings").click(function() {
            $("#ShowCheckingModal").iziModal({
                title: "ورود و خروج",
                subtitle: "نمایش تمامی ورود ها و خروج های ثبت شده.",
                headerColor: '#494f5c',
                rtl: true,
                fullscreen: false,
                width: 800,
                zindex: 2000
            });

            $.ajax({
                dataType: "HTML",
                url: "/Admin/Checking/_ShowCheckings",
                success: function(result) {
                    $("#ShowCheckingModal").iziModal('setContent', result);

                    $("#ShowCheckingModal").iziModal('open');
                    $("#ShowCheckingModal").removeAttr("hidden", "hidden");
                }
            });
        })

    </script>
    <!--==================== /Show Checkings ======================-->
    <!--==================== Check last reserve ======================-->
    <script>

        $("#btnCheckLastReserve").click(function() {

            $("#GetReservesModal").iziModal({
                title: "رزرو قبلی",
                subtitle: "نمایش تمامی رزرو ها از قبل ثبت شده",
                headerColor: '#494f5c',
                rtl: true,
                fullscreen: false,
                width: 800,
                zindex: 2000
            });

            $.ajax({
                dataType: "HTML",
                url: "/Admin/Checking/_CheckLastReserve",
                success: function(result) {
                    $("#GetReservesModal").iziModal('setContent', result);

                    $("#GetReservesModal").iziModal('open');
                    $("#GetReservesModal").removeAttr("hidden", "hidden");
                }
            });

        });

    </script>
    <!--==================== /Check last reserve ======================-->
    <!--==================== References =====================-->
    <script src="~/Scripts/Tab.js"></script>
    <!--==================== /References =====================-->
}