<!-- Persian DateTime picker -->
<script src="~/DatePicker/popper.min.js"></script>
<script src="~/DatePicker/bootstrap.min.js"></script>
<link href="~/DatePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

<div class="tab">
    <button class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab2')">مسافرین همراه</button>
    <button id="btnInformation" class="tablinks" style="width:50%;" onclick="openTab(event, 'Tab1')">اطلاعات رزرو</button>
</div>

<div id="Tab1" class="tabcontent">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer fa fa-calendar" id="date4"></span>
                    <input readonly="readonly" type="text" id="inputDate4" class="form-control" placeholder="از تاریخ" aria-label="date4"
                           aria-describedby="date4">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer fa fa-calendar" id="date5"></span>
                    <input readonly="readonly" type="text" id="inputDate5" class="form-control" placeholder="تا تاریخ" aria-label="date5"
                           aria-describedby="date5">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input class="form-control btn" type="button" value="فیلتر" id="btnFilterRooms" style="background-color:#3f51b5; color:rgb(255,255,255); border-color: #e6e6e6;" />
        </div>
    </div>
    <div style="margin: 20px 0px;">
        <select class="form-control" id="ReserveStatus">
            <option value="0">پرداخت شده</option>
            <option value="1">قطعی</option>
            <option value="2">موقت</option>
        </select>
    </div>
    <div id="FreeRoomGridParentDiv">
        <div id="FreeRoomsGrid" class="k-rtl"></div>
    </div>
</div>

<div id="Tab2" class="tabcontent">
    <input class="btn" type="button" value="ثبت مسافر همراه" id="btnCreateFellowCustomer" style="background-color:#3f51b5; color:rgb(255,255,255); border-color: #e6e6e6; width: 400px;" />
    <div style="margin: 2px;">
        <div id="fellowCustomerGrid" class="k-rtl"></div>
    </div>
</div>

<br />
<input id="btnCreateReserve" type="button" value="ثبت" class="btn btn-block" style="background-color:#3f51b5; color:rgb(255,255,255); border-color: #e6e6e6;" />


<!--============= IziModal ===============-->
<div id="CreateFellowModal" hidden></div>
<!--============= /IziModal===============-->
<!-- Persian Date picker initialization -->
<script src="~/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>

<!--==================== Fellow Customer =====================-->
<script>
    var selectedFellowId = [];
    $(function () {

        //<!--==================== /Fellow Customer =====================-->


        function onChangeFellow(e) {
            var rows = e.sender.select();
            selectedFellowId = [];
            rows.each(function(e) {
                var grid = $("#fellowCustomerGrid").data("kendoGrid");
                var dataItem = grid.dataItem(this);
                selectedFellowId.push(dataItem.Id);
            });
        }

        $("#fellowCustomerGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Reserve/GetCustomersExceptHost?HostId=" + $("#CustomerId").val()
                },
                pageSize: 20
            },
            filterable: true,
            height: 400,
            width: 'auto',
            groupable: true,
            sortable: true,
            change: onChangeFellow,
            selectable: false,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    selectable: true,
                    width: '50px'
                },
                {
                    field: "FirstName",
                    title: "نام",
                    width: 180
                },
                {
                    field: "LastName",
                    title: "نام خانوادگی",
                    width: 180
                },
                {
                    field: "NationalNo",
                    title: "کد ملی",
                    width: 180
                },
                {
                    field: "PassportNo",
                    title: "شماره پاسپورت",
                    width: 180
                }
            ]
        });
    });

    // Create customer modal
    $("#btnCreateFellowCustomer").click(function() {

        $("#CreateFellowModal").iziModal({
            title: "ثبت مسافر",
            subtitle: "ثبت مسافرین همراه برای میزبان",
            headerColor: '#494f5c',
            rtl: true,
            fullscreen: false,
            width: 500,
            zindex: 2100
        });

        $.ajax({
            dataType: "HTML",
            url: "/Admin/Reserve/_CreateFellowCustomer",
            success: function (result) {
                $("#CreateFellowModal").iziModal('setContent',result);

                $("#CreateFellowModal").iziModal('open');
                $("#CreateFellowModal").removeAttr("hidden", "hidden");
            }
        });
    });
    //<!--==================== /Fellow Customer =====================-->

    //<!--==================== Free Rooms =====================-->
    freeRoomGrid("#FreeRoomsGrid");

    var selectedRoomRowsId = [];
    function freeRoomGrid(ID){
        function onChangeRoom(e) {
            var rows = e.sender.select();
            selectedRoomRowsId = [];
            rows.each(function(e) {
                var grid = $(ID).data("kendoGrid");
                var dataItem = grid.dataItem(this);
                selectedRoomRowsId.push(dataItem.Id);
            });
        }

        $(ID).kendoGrid({
            dataSource: {
                transport: {
                    read: "/Admin/Reserve/GetRooms?fromDate=" + $("#inputDate4").val() + "&toDate=" + $("#inputDate5").val()
                },
                pageSize: 20
            },
            filterable: true,
            height: 550,
            width: 'auto',
            groupable: true,
            sortable: true,
            change: onChangeRoom,
            selectable: false,
            pageable: {
                refresh: true,
                pageSize: 20,
                buttonCount: 5
            },
            columns: [
                {
                    selectable: true,
                    width: '50px'
                },
                {
                    field: "RoomNumber",
                    title: "شماره اتاق",
                    width: 180
                },
                {
                    field: "SingleBedCount",
                    title: "تعداد تخت خواب یک نفره",
                    width: 180
                },
                {
                    field: "DoubleBedCount",
                    title: "تعداد تخت خواب دو نفره",
                    width: 180
                },
                {
                    field: "Rate",
                    title: "امتیاز",
                    width: 180
                },
                {
                    field: "Entertainment",
                    title: "سرگرمی",
                    width: 180
                },
                {
                    field: "Description",
                    title: "توضیحات",
                    width: 180
                }
            ]
        });

        $("#btnFilterRooms").click(function() {

            $("#FreeRoomGrid").remove();
            $("#FreeRoomGridParentDiv").html("<div id='NewFreeRoomGrid' class='k-rtl'></div>");

            freeRoomGrid("#NewFreeRoomGrid");
        });
    }
    //<!--==================== /Free Rooms =====================-->

    //<!--==================== Create Reserve =====================-->
    $("#btnCreateReserve").click(function() {

        debugger;

        var FromDate = $("#inputDate4").val();
        var ToDate = $("#inputDate5").val();

        if ((FromDate === "" || ToDate === "") && selectedRoomRowsId.length === 0) {
            iziToast.warning({
                position: "bottomRight",
                timeout: 3000,
                rtl: true,
                message: "شما هیچ اطلاعاتی وارد نکردید لطفا دوباره سعی کنید!"
            });
        } else if (FromDate === "" || ToDate === "") {
            iziToast.warning({
                position: "bottomRight",
                timeout: 3000,
                rtl: true,
                message: "لطفا فیلدهای تاریخ ورود و خروج را مشخص کنید!"
            });
        } else if (selectedRoomRowsId.length === 0) {
            iziToast.warning({
                position: "bottomRight",
                timeout: 3000,
                rtl: true,
                message: "حداقل یک اتاق باید انتخاب شود!"
            });
        } else {
            $.ajax({
                type: "POST",
                url: "/Admin/Reserve/CreateReserve",
                data: {
                    model: {
                        HostId: $("#CustomerId").val(),
                        FromDate: FromDate,
                        ToDate: ToDate,
                        RoomsId: selectedRoomRowsId,
                        FellowsId: selectedFellowId,
                        Status: $("#ReserveStatus :selected").val()
                    }
                },
                success: function(result) {

                    if (result === true) {
                        iziToast.success({
                            position: "bottomRight",
                            timeout: 3000,
                            rtl: true,
                            title: "بسیار عالی",
                            message: "عملیات با موفقیت انجام شد."
                        });

                        // Refresh the free room grid
                        if ($("#NewFreeRoomGrid") != null) {
                            $("#NewFreeRoomGrid").data("kendoGrid").dataSource.read();
                        } else if ($("#FreeRoomGrid") != null) {
                            $("#FreeRoomGrid").data("kendoGrid").dataSource.read();
                        }

                        $("#ReserveModal").iziModal('close');

                    }
                }
            });
        }
        //<!--==================== /Create Reserve =====================-->
    });

</script>



<script type="text/javascript">

    $('#date4').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate4',
        fromDate: true,
        enableTimePicker: false,
        groupId: 'rangeSelector1',
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: true,
    });
    $('#date5').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate5',
        toDate: true,
        groupId: 'rangeSelector1',
        placement: 'top',
        enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd',
        textFormat: 'yyyy-MM-dd',
        disableBeforeToday: true,
    });
</script>